/**
* Social-list
 */
.social-list {
  width: 20px;

  position: absolute;

  bottom: 44px;
  left: 50%;

  transform: translateX(-50%);

  text-align: center;

  &__item {
    opacity: .2;

    transition: opacity .3s ease;

    &:hover {

      opacity: 1;
    }

    @include breakpoint($mobile-tablet) {

      &:hover {

        opacity: .2;
      }

      &.is-active {

        opacity: 1;
      }
    }

    &:last-child {
      pointer-events: none;

      cursor: auto;

      opacity: .08;
    }

    &:not(:last-child) {
      margin-bottom: 1em;

      @include breakpoint($tablet-laptop) {

        margin-bottom: .75em;
      }
    }
  }

  .icon {

    &_soc-git {
      width: 20px;
      height: 22px;

      @include breakpoint($mobile) {
        width: 22px;
        height: 24px;
      }
    }

    &_soc-be {
      width: 20px;
      height: 12px;

      cursor: auto;

      @include breakpoint($mobile) {
        width: 26px;
        height: 16px;
      }
    }

    &_soc-li {
      width: 16px;
      height: 16px;

      @include breakpoint($mobile) {
        width: 18px;
        height: 18px;
      }
    }

    .icon_fill {

      transition: fill .3s ease;
    }
  }
}