/**
  Social-list
 */
.social-list {
  width: 20px;

  position: absolute;

  right: 44px;
  bottom: 44px;

  text-align: center;

  &__item {

    &:not(:last-child) {
      margin-bottom: 1em;

      @include breakpoint($tablet-laptop) {

        margin-bottom: .75em;
      }
    }
  }

  .icon {
    opacity: .2;

    @include transition(opacity .3s ease);

    &:hover {

      opacity: 1;
    }

    &_soc-git {
      width: 20px;
      height: 22px;
    }

    &_soc-be {
      width: 20px;
      height: 12px;
    }

    &_soc-li {
      width: 16px;
      height: 16px;
    }

    .icon_fill {

      @include transition(fill .3s ease);
    }
  }
}