/**
* Social-list
 */
.social-list {
  width: 20px;

  position: absolute;

  right: 44px;
  bottom: 44px;

  text-align: center;

  &__item {

    &:not(:last-child) {
      margin-bottom: 1em;

      @include breakpoint($tablet-laptop) {

        margin-bottom: .75em;
      }
    }
  }

  .icon {
    opacity: .2;

    transition: opacity .3s ease;

    &:hover {

      opacity: 1;
    }

    &_soc-git {
      width: 20px;
      height: 22px;

      @include breakpoint($mobile) {
        width: 22px;
        height: 24px;
      }
    }

    &_soc-be {
      width: 20px;
      height: 12px;

      @include breakpoint($mobile) {
        width: 26px;
        height: 16px;
      }
    }

    &_soc-li {
      width: 16px;
      height: 16px;

      @include breakpoint($mobile) {
        width: 18px;
        height: 18px;
      }
    }

    .icon_fill {

      transition: fill .3s ease;
    }
  }
}