/**
  Social-list
 */
.social-list {
  width: 30px;

  position: absolute;

  right: 0;
  bottom: 45px;
  left: 0;

  margin: 0 auto;

  text-align: center;

  &__item {

    &:not(:last-child) {

      margin-bottom: 1.5em;
    }
  }

  .icon {

    &:hover {

      .icon_fill {

        fill: $color-secondary;
      }
    }

    &_soc-gh {
      width: 20px;
      height: 22px;
    }

    &_soc-li {
      width: 16px;
      height: 16px;
    }

    .icon_fill {

      @include transition(fill .3s ease);
    }
  }
}