/**
  Preloader
 */
body.loaded {

  #preloader {
    pointer-events: none;

    @include animation(preloader-disappearing 3s ease 2s);

    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    -o-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
  }

  .section.section-preloader {

    > .booting-info,
    > .greeting {

      @include transform(translateX(100%));

      @include breakpoint($tablet) {

        @include transform(translateX(50%));
      }

      @include breakpoint($laptop-small) {

        @include transform(translateX(50%));
      }
    }

    > .booting-info {

      opacity: 0;
    }

    > .greeting {

      opacity: 1;
    }
  }
}

#preloader {
  position: fixed;

  top: 50%;
  right: 0;
  left: 0;

  @include transform(translateY(-50%));

  @include transition(all .3s ease);

  color: #717171;

  z-index: map-get($zindex, preloader);

  @include breakpoint($mobile-p) {

    padding: 0 1.875em;
  }

  @include breakpoint($mobile-l) {

    padding: 0 4.5em;
  }

  @include breakpoint($tablet) {

    padding: 0 5.375em;
  }

  @include breakpoint($laptop) {

    padding: 0 7.25em;
  }
}

.section.section-preloader {
  @include container;

  position: relative;

  left: 0;

  padding: 0;

  &:before,
  &:after {
    content: '+';
    display: block;

    position: absolute;

    top: 7px;

    line-height: .65;

    font-size: 18px;
    font-weight: 700;
    color: rgba(121, 121, 121, .7);
  }

  &:before {
    left: calc((2 / 6) * 100% - 4px);

    @include breakpoint($mobile-l) {

      left: calc((1.5 / 6) * 100% - 4px);
    }

    @include breakpoint($tablet-p) {

      left: calc((3 / 6) * 100% - 4px);
    }

    @include breakpoint($tablet-l) {

      left: calc((1.5 / 6) * 100% - 4px);
    }

    @include breakpoint($laptop-small) {

      left: calc((1.5 / 6) * 100% - 4px);
    }
  }

  &:after {
    right: calc((3 / 6) * 100% - 7px);

    @include breakpoint($mobile) {

      display: none;
    }

    @include breakpoint($tablet-p) {

      display: none;
    }
  }

  > .booting-info,
  > .greeting {

    @include span(4 of 12 inside no-gutters);

    @include transition(transform 1s ease, opacity 1s ease);

    @include breakpoint($mobile-l) {

      @include span(3 of 12 inside no-gutters);
    }

    @include breakpoint($tablet) {
      @include span(6 of 12 inside no-gutters);

      @include transform(translateX(-50%));
    }

    @include breakpoint($laptop-small) {
      @include span(6 of 12 inside no-gutters);

      @include transform(translateX(-50%));
    }
  }

  > .greeting {
    pointer-events: none;

    opacity: 0;

    > .section-subtitle {

      @include breakpoint($mobile) {

        display: none;
      }
    }
  }

  .section-subtitle,
  .logo {
    @include span(6 of 12 inside no-gutters);

    padding-left: 1.75em;

    @include breakpoint($mobile) {

      @include span(12 of 12 inside no-gutters);

      white-space: nowrap;

      padding-left: 1em;
    }

    @include breakpoint($iphone5-p) {

      padding-left: .65em;
    }

    @include breakpoint($tablet-p) {
      float: right;

      padding-left: 1.5em;
    }
  }

  .logo {
    font-size: inherit;

    > .icon_logo {
      width: 82px;
      height: 40px;

      @include breakpoint($mobile) {
        width: 70px;
        height: 34px;
      }
    }

    > .logo__text {
      margin-top: .7em;

      font-size: .936em;
      font-weight: $font-style-regular;
    }
  }

  .section-subtitle {
    font-size: 1.063em;
    font-weight: $font-style-light;

    & + .section-subtitle {

      @include breakpoint($mobile) {

        display: none;
      }
    }

    &:last-child {

      @include breakpoint($tablet-p) {
        float: left;

        padding-right: 1.5em;
        padding-left: 0;

        text-align: right;
      }
    }

    > span.text_medium + span {
      display: inline-block;

      margin-top: .5em;

      font-size: .824em;
    }

    &__percent-number,
    &__measur-units {
      line-height: .95;

      font-size: 3.125em;

      @include breakpoint($mobile) {

        font-size: 2.059em;
      }
    }

    &__measur-units {
      color: #d5d5d5;

      @include breakpoint($mobile) {

        font-size: 1.824em;
      }
    }
  }
}



