/**
  Preloader
 */
body.loaded {

  #preloader {
    pointer-events: none;

    animation: disappearance 3s ease 2s;

    animation-fill-mode: forwards;

    .section.section-preloader {

      > svg {
        animation: appearance .5s ease;
        animation-fill-mode: forwards;
      }

      .section__subtitle {
        animation: appearance .5s ease, movement-right .5s ease;
        animation-fill-mode: forwards;
      }

      .logo {
        animation: appearance .5s ease, movement-left .5s ease;
        animation-fill-mode: forwards;
      }
    }
  }
}

#preloader {
  position: fixed;

  top: 50%;
  right: 0;
  left: 0;

  transform: translateY(-50%);

  transition: all .3s ease;

  color: #717171;

  z-index: map-get($zindex, preloader);

  @include breakpoint($mobile-p) {

    padding: 0 1.875em;
  }

  @include breakpoint($mobile-l) {

    padding: 0 4.5em;
  }

  @include breakpoint($tablet) {

    padding: 0 5.375em;
  }

  @include breakpoint($laptop) {

    padding: 0 7.25em;
  }

  @include breakpoint($laptop-large) {

    padding: 0 11em;
  }
}

.section.section-preloader {
  $glow-width: 26px;
  $glow-height: 180px;

  @include container;
  @include clearfix;

  overflow: visible;

  position: relative;

  padding-top: 0;

  > svg {
    width: $glow-width;
    height: 180px;

    position: absolute;

    top: 50%;
    left: 50%;

    margin: (-$glow-height / 2) 0 0 (-$glow-width / 2 + 2px);

    opacity: 0;
   
    z-index: $under-zindex;   
    
    @include breakpoint($mobile) {

      left: (100% / 3);
    }

    @include breakpoint($tablet-l) {

      margin: (-$glow-height / 2) 0 0 (-$glow-width / 2);
    }

    @include breakpoint($laptop-small) {

      margin: (-$glow-height / 2) 0 0 (-$glow-width / 2);
    }
  }

  > .greeting {
    @include span(4 of 12 inside no-gutters);

    float: none;

    margin: 0 auto;

    @include clearfix;

    transition: transform 1s ease, opacity 1s ease;

    text-align: right;

    @include breakpoint($tablet-p) {

      @include span(12 of 12 inside no-gutters);
    }

    @include breakpoint($tablet-l) {
      @include span(6 of 12 inside no-gutters);

      margin-left: 25%;
    }

    @include breakpoint($laptop-small) {

      @include span(6 of 12 inside no-gutters);

      margin-left: 25%;
    }

    > .section__subtitle {

      @include breakpoint($mobile) {

        display: none;
      }
    }
  }

  .section__subtitle,
  .logo {
    @include span(6 of 12 inside no-gutters);

    opacity: 0;

    @include breakpoint($mobile) {

      @include span(12 of 12 inside no-gutters);

      white-space: nowrap;

      padding-left: 1em;
    }

    @include breakpoint($iphone5-p) {

      padding-left: .65em;
    }

    @include breakpoint($tablet-p) {

      padding-left: 4.5em;
    }

    @include breakpoint($tablet-l) {

      padding-left: 0;
    }
  }

  .section__subtitle {
    padding-right: 1.6em;

    text-align: right;

    font-size: 1.063em;
    font-weight: $font-style-light;
    color: #fff;

    @include breakpoint($laptop) {
      line-height: 1.3em;

      font-size: 1em;
    }

    & + .section__subtitle {

      @include breakpoint($mobile) {

        display: none;
      }
    }

    &:last-child {

      @include breakpoint($tablet-p) {
        float: left;

        padding-right: 1.5em;
        padding-left: 0;

        text-align: right;
      }
    }

    > span.text_medium {
      display: inline-block;

      width: 100%;

      text-align: right;
    }

    > span.text_medium + span {
      display: inline-block;

      margin-top: .5em;

      font-size: .824em;
      color: rgba(255, 255, 255, .7);

      @include breakpoint($tablet-p) {
        max-width: 194px;
      }
    }
  }

  .logo {
    margin-top: .25em;
    padding-left: 1.6em;

    font-size: inherit;

    text-align: left;

    @include breakpoint($mobile) {

      padding-left: 1.25em;
    }

    > .icon_logo {
      width: 82px;
      height: 40px;

      @include breakpoint($mobile) {
        width: 70px;
        height: 34px;
      }
    }

    > .logo__text {
      margin-top: .7em;

      font-size: .936em;
      font-weight: $font-style-regular;

      @include breakpoint($tablet) {
        display: block;

        font-size: .933em;
      }

      @include breakpoint($laptop-small) {
        
        display: block;
      }
    }
  }
}