/**
  Main nav styles
 */
.main-nav {

  &__list {
    position: absolute;

    top: 50%;
    right: 0;
    left: 0;

    transform: translateY(-50%);
  }

  &__item {
    width: 8px;
    height: 8px;

    display: block;

    position: relative;

    margin: 0 auto;

    text-align: center;

    border-radius: 50%;

    cursor: pointer;

    @include transition(background-color .3s ease, -webkit-filter .3s ease, filter .3s ease);

    &:before,
    &:after {
      position: absolute;

      top: 50%;
      left: 50%;

      border-radius: 50%;

      -webkit-filter: blur(2px);
      filter: blur(2px);
    }

    &:before {
      width: 400%;
      height: 400%;

      margin-top: -200%;
      margin-left: -200%;

      border: 1px solid #8DE5FF;

      @include animation(pulse-ring 2s cubic-bezier(.215, .61, .355, 1) infinite);
    }

    &:after {
      $glow-size: 14px;


      width: $glow-size;
      height: $glow-size;

      @include transform(translate(-50%, -50%));

      background-color: #8DE5FF;

      opacity: .2;

      z-index: $under-zindex;
    }

    &:not(.is-active) {

      > .main-nav__link {

        opacity: .56;

        @include transition(opacity .3s ease);

        &:hover {

          opacity: 1;
        }
      }
    }

    &.is-active {
      -webkit-filter: blur(2px);
      filter: blur(2px);

      background-color: #8DE5FF;

      &:before,
      &:after {
        content: '';
        display: block;
      }

      > .main-nav__link {

        opacity: 0;
      }
    }

    &:hover {

      .main-nav__link {
        @include transform(scale(1.3));

        color: #797979;
      }
    }

    &:not(:last-child) {

      margin-bottom: 3.5em;
    }
  }

  &__link {
    display: block;

    // For vertical alignment
    line-height: .65;

    font-family: $font-secondary;
    color: #444D59;

    @include transition(opacity .3s ease, transform .4s ease, color .3s ease);
  }
}