/**
  Main nav styles
 */
.main-nav {

  &__list {
    position: absolute;

    top: 50%;
    right: 0;
    left: 0;

    transform: translateY(-50%);
  }

  &__item {
    width: 8px;
    height: 8px;

    display: block;

    position: relative;

    margin: 0 auto;

    text-align: center;

    border-radius: 50%;

    cursor: pointer;

    @include transition(background-color .3s ease);


    &:not(.is-active) {

      > .main-nav__link {

        opacity: .56;

        @include transition(opacity .3s ease);

        &:hover {

          opacity: 1;
        }
      }
    }

    &.is-active {
      background-color: $color-secondary;

      > .main-nav__link {

        opacity: 0;
      }
    }

    &:not(:last-child) {

      margin-bottom: 3.5em;
    }
  }

  &__link {
    display: block;

    // For vertical alignment
    line-height: .65;

    font-family: $font-secondary;
    color: #797979;

    @include transition(opacity .3s ease);
  }
}