/**
  Helpers styles
 */

// Text classes
.text_left {
  text-align: left;
}

.text_right {
  text-align: right;
}

.text_center {
  text-align: center;
}

.truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.no_wrap {
  white-space: nowrap;
}

.text_regular {
  font-weight: $font-style-regular;
}

.text_medium {
  font-weight: $font-style-medium;
}

.text_bold {
  font-weight: bold;
}

.text_semibold {
  font-weight: 600;
}

.text_upper {
  text-transform: uppercase;
}

.color-muted {

  opacity: .63;
}

// Floats
.left {
  float: left;
}

.right {
  float: right;
}

// Display
.hidden {
  display: none !important;
}