/**
* Icons connection
 */
html[lang="en"] {

  .icon_logo {
    width: 67px;

    background-image: url('images/icon_sho-en.svg');
  }
}

.icon {
  display: inline-block;

  background-repeat: no-repeat;

  &_logo {
    width: 62px;
    height: 30px;

    background-image: url('images/icon_sho.svg');

    @include breakpoint($mobile) {
      width: 45px;
      height: 22px;
    }

    @include breakpoint($tablet) {
      width: 55px;
      height: 27px;
    }

    @include breakpoint($laptop) {
      width: 55px;
      height: 27px;
    }
  }
}