/**
* Icons connection
 */
html[lang="en"] {

  .icon_logo {
    width: 67px;

    background-image: url('images/icon_sho-en.svg');
  }
}

.icon {
  display: inline-block;

  background-repeat: no-repeat;

  &_logo {
    width: 62px;
    height: 30px;

    background-image: url('images/icon_sho.svg');

    @include breakpoint($mobile) {
      width: 45px;
      height: 22px;
    }

    @include breakpoint($tablet) {
      width: 55px;
      height: 27px;
    }

    @include breakpoint($laptop) {
      width: 55px;
      height: 27px;
    }
  }

  &_logo-bobra {
    width: 152px;
    height: 42px;

    background-image: url('images/icon-logo-bobra.svg');

    @include breakpoint($mobile-p) {
      width: 77px;
      height: 22px;
    }

    @include breakpoint($mobile-l) {
      width: 97px;
      height: 27px;
    }
  }

  &_groshi247,
  &_pozichka,
  &_moneyboom,
  &_cashme {

    height: 30px;
  }

  &_groshi247 {
    width: 80px;

    background-image: url('images/icon-groshi247.svg');
  }

  &_pozichka {
    width: 104px;

    background-image: url('images/icon-pozichka.svg');
  }

  &_moneyboom {
    width: 101px;

    background-image: url('images/icon-moneyboom.svg');
  }

  &_cashme {
    width: 97px;

    background-image: url('images/icon-cashme.svg');
  }

  &_postgreSQL,
  &_react,
  &_yii,
  &_php {

    height: 23px;
  }

  &_postgreSQL {
    width: 23px;

    background-image: url('images/icon-postgreSQL.svg');
  }

  &_react {
    width: 25px;

    background-image: url('images/icon-react.svg');
  }

  &_yii {
    width: 22px;

    background-image: url('images/icon-yii.svg');
  }

  &_php {
    width: 48px;

    background-image: url('images/icon-php.svg');
  }

  &_photoshop,
  &_illustrator,
  &_after-effects,
  &_draw,
  &_in-design,
  &_xd,
  &_sketch,
  &_istudio {

    height: 20px;
  }

  &_photoshop {
    width: 26px;

    background-image: url('images/icon-photoshop.svg');
  }

  &_illustrator {
    width: 22px;

    background-image: url('images/icon-illustrator.svg');
  }

  &_after-effects {
    width: 27px;

    background-image: url('images/icon-after-effects.svg');
  }

  &_draw {
    width: 27px;

    background-image: url('images/icon-draw.svg');
  }

  &_in-design {
    width: 21px;

    background-image: url('images/icon-in-design.svg');
  }

  &_xd {
    width: 27px;

    background-image: url('images/icon-xd.svg');
  }

  &_sketch {
    width: 22px;

    background-image: url('images/icon-sketch.svg');
  }

  &_istudio {
    width: 20px;

    background-image: url('images/icon-istudio.svg');
  }

  &_google-analitics,
  &_google-adwords,
  &_fb-ads,
  &_woopra {

    height: 23px;
  }

  &_google-analitics {
    width: 65px;

    background-image: url('images/icon-google-analitics.svg');
  }

  &_google-adwords {
    width: 72px;

    background-image: url('images/icon-google-adwords.svg');
  }

  &_fb-ads {
    width: 60px;

    background-image: url('images/icon-fb-ads.svg');
  }

  &_woopra {
    width: 39px;

    background-image: url('images/icon-woopra.svg');
  }
}
