/**
* Icons connection
 */
.icon {
  display: inline-block;

  background-repeat: no-repeat;

  &_logo {
    width: 67px;
    height: 30px;

    background-image: url('images/icon_sho-en.svg');

    @include breakpoint($mobile) {
      width: 45px;
      height: 22px;
    }

    @include breakpoint($tablet) {
      width: 55px;
      height: 27px;
    }

    @include breakpoint($laptop) {
      width: 55px;
      height: 27px;
    }

    &-new {
      width: 145px;
      height: 27px;

      background-image: url('images/icon_sho-new.svg');

      @include breakpoint($laptop-large) {
        width: 132px;
        height: 25px;
      }

      @include breakpoint($laptop-xl) {
        width: 132px;
        height: 25px;
      }
    }
  }

  &_logo-bobra {
    width: 152px;
    height: 42px;

    background-image: url('images/icon-logo-bobra.svg');

    @include breakpoint($mobile-p) {
      width: 77px;
      height: 22px;
    }

    @include breakpoint($mobile-l) {
      width: 97px;
      height: 27px;
    }
  }

  &_groshi247,
  &_pozichka,
  &_moneyboom,
  &_cashme {

    height: 30px;
  }

  &_groshi247 {
    width: 80px;

    background-image: url('images/icon-groshi247.svg');

    @include breakpoint($mobile-p) {
      width: 92px;
      height: 33px;
    }

    @include breakpoint($mobile-l) {
      width: 102px;
      height: 38px;
    }
  }

  &_pozichka {
    width: 104px;

    background-image: url('images/icon-pozichka.svg');
  }

  &_moneyboom {
    width: 101px;

    background-image: url('images/icon-moneyboom.svg');
  }

  &_cashme {
    width: 97px;

    background-image: url('images/icon-cashme.svg');
  }
}
