/**
  Header styles
 */
.header {
  position: fixed;

  top: 0;
  right: 0;
  left: 0;

  margin: 0 auto;
  padding: 2.75em 2.75em 0;

  font-family: $font-secondary;
  font-weight: $font-style-regular;

  z-index: map-get($zindex, header);

  @include breakpoint($mobile) {
    padding: 1.875em 1.875em .75em;

    font-weight: $font-style-regular;
  }

  @include breakpoint($tablet) {
    padding: 2.5em 1.875em .75em;

    font-weight: $font-style-regular;
  }

  @include breakpoint($laptop-not-large) {

    padding: 2.75em 2.75em .75em;
  }
}

.header__right {
  width: 110px;

  float: right;

  text-align: right;
}

.logo {
  font-size: 0;

  &__text {
    display: block;

    margin: .785em 0 0 .571em;

    font-family: $font-secondary;

    @include breakpoint($mobile) {

      display: none;
    }

    @include breakpoint($tablet) {

      display: none;
    }
  }
}

.header__lang-toggle,
.header__new-project {
  position: relative;

  &:after {
    content: '';
    
    width: 0%;
    height: 9px;

    position: absolute;

    right: -8px;
    bottom: 0;

    background-image: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, #ffda44 100%);

    transition: all 0.3s cubic-bezier(0.7, 0, 0.3, 1);
    
    z-index: $under-zindex;
  }

  &:hover {

    &:before {
      @include transform(translateX(-14px));

      opacity: 1;
    }

    &:after {

      width: calc(100% + 14px);
    }
  }
}

.logo__text,
.header__lang-toggle,
.header__new-project {
  font-size: 14px;
  color: #fff;

  @include breakpoint($mobile) {

    font-size: 15px;
  }

  @include breakpoint($tablet) {

    font-size: 16px;
  }
}

.header__new-project {
  display: block;

  margin-bottom: 1.571em;

  @include breakpoint($mobile) {

    display: none;
  }

  @include breakpoint($tablet) {

    display: none;
  }

  &:before {
    content: '+\00a0';
    display: inline-block;

    @include transform(translateX(-6px));

    opacity: .5;

    font-family: $font-secondary;

    @include transition(transform .3s ease, opacity .3s ease);
  }
}

.header__lang-toggle {
  text-transform: uppercase;

  @include breakpoint($mobile) {

    line-height: 22px;
  }

  @include breakpoint($tablet) {

    line-height: 27px;
  }
}