/**
* Header styles
 */

html[lang="en"] {
  .header {
    @include breakpoint($mobile-l) {

      padding: 1.875em 1.35em .75em;
    }
  }
}

.header {
  position: fixed;

  top: 0;
  right: 0;
  left: 0;

  margin: 0 auto;
  padding: 2.75em 2.75em 0;

  font-family: $font-secondary;
  font-weight: $font-style-regular;

  z-index: map-get($zindex, header);

  // Unselectable
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;

  @include breakpoint($mobile) {

    font-weight: $font-style-regular;
  }

  @include breakpoint($mobile-p) {

    padding: 1.875em 1.875em;
  }

  @include breakpoint($mobile-l) {

    padding: 1.875em 1.625em .75em;
  }

  @include breakpoint($tablet) {
    padding: 2.5em 1.875em .75em;

    font-weight: $font-style-regular;
  }

  @include breakpoint($laptop-small) {

    padding: 2.75em 2.75em .75em 1.825em;
  }

  @include breakpoint($laptop-medium) {

    padding: 2.75em 2.75em .75em;
  }

  &:before {
    position: absolute;

    top: -20px;
    right: 0;
    bottom: 0;
    left: 0;

    background: linear-gradient(33deg,#081b38 -140%,#021c3b 100%);

    -webkit-filter: blur(8px);
    filter: blur(8px);

    z-index: $under-zindex;

    @include breakpoint($mobile-p) {
      content: '';
      display: block;
    }
  }
}

.header__right {
  width: 110px;

  float: right;

  text-align: right;
}

.logo {
  font-size: 0;

  &__text {
    display: block;

    margin: .785em 0 0 .571em;

    font-family: $font-secondary;

    @include breakpoint($mobile) {

      display: none;
    }

    @include breakpoint($tablet) {

      display: none;
    }

    @include breakpoint($laptop-small) {

      display: none;
    }
  }
}

.header__lang-toggle,
.header__new-project {
  position: relative;

  &:after {
    content: '';

    width: 0;
    height: 9px;

    position: absolute;

    right: -13px;
    bottom: 0;

    background-image: linear-gradient(to right, rgba(235, 75, 124, 0) 0%, rgba(235, 75, 124, 0.5) 100%);

    transition: all 0.3s cubic-bezier(0.7, 0, 0.3, 1);

    z-index: $under-zindex;
  }

  @include breakpoint($mobile-tablet) {
    &.is-active {

      &:before {
        transform: translateX(-14px);

        opacity: 1;
      }

      &:after {

        animation: painting .6s ease  forwards;
      }
    }
  }

  @include breakpoint($any-desktop) {
    &:hover {

      &:before {
        transform: translateX(-14px);

        opacity: 1;
      }

      &:after {

        animation: painting .6s ease;
      }
    }
  }
}

.logo__text,
.header__lang-toggle,
.header__new-project {
  font-size: 14px;
  color: #fff;

  @include breakpoint($mobile) {

    font-size: 15px;
  }

  @include breakpoint($tablet) {

    font-size: 16px;
  }

  @include breakpoint($laptop-small) {

    font-size: 16px;
  }

  @include breakpoint($laptop-medium) {

    font-size: 13px;
  }

  @include breakpoint($laptop-large) {

    font-size: 13px;
  }
}

.header__new-project {
  display: block;

  margin-bottom: 1.571em;

  @include breakpoint($mobile) {

    display: none;
  }

  @include breakpoint($tablet) {

    display: none;
  }

  @include breakpoint($laptop-small) {

    display: none;
  }

  &:before {
    content: '+\00a0';
    display: inline-block;

    transform: translateX(-6px);

    opacity: .5;

    font-family: $font-secondary;

    transition: transform .3s ease, opacity .3s ease;
  }
}

.header__lang-toggle {
  padding-right: 0;

  text-transform: uppercase;

  font-weight: 300;

  @include breakpoint($mobile) {

    line-height: 19px;
  }

  @include breakpoint($tablet) {

    line-height: 27px;
  }

  @include breakpoint($laptop-small) {

    line-height: 27px;
  }
}