/**
  Header styles
 */
.header {
  max-width: 1920px;

  position: fixed;

  top: 0;
  right: 0;
  left: 0;

  margin: 0 auto;
  padding: 2.75em 2.75em 0;

  font-family: $font-secondary;
  font-weight: $font-style-medium;

  z-index: map-get($zindex, header);
}

.header__right {
  width: 110px;

  float: right;

  text-align: right;
}

.logo {
  font-size: 0;

  &__text {
    display: block;

    margin: .875em 0 0 .571em;
  }
}

.header__lang-toggle,
.header__new-project {
  position: relative;

  &:after {
    content: '';
    
    width: 0%;
    height: 9px;

    position: absolute;

    right: -8px;
    bottom: 0;

    background-image: linear-gradient(to right, #fff 0%, #ffda44 100%);
    
    transition: all 0.3s cubic-bezier(0.7, 0, 0.3, 1);
    
    z-index: $under-zindex;
  }

  &:hover {

    &:before {
      transform: translateX(-10px);

      opacity: 1;
    }

    &:after {

      width: calc(100% + 16px);
    }
  }
}

.logo__text,
.header__lang-toggle,
.header__new-project {
  font-size: 14px;
  color: #484848;
}

.header__new-project {
  display: block;

  &:before {
    content: '+\00a0';
    display: inline-block;

    opacity: .5;

    @include transition(transform .3s ease, opacity .3s ease);
  }
}

.header__lang-toggle {
  margin-top: 1.571em;

  text-transform: uppercase;
}