/**
  Buttons styles
 */
.btn {
  display: inline-block;

  padding: 0;

  // Unselectable
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;

  &_inc,
  &_dec {
    position: relative;

    opacity: .6;

    transition: opacity .3s ease;

    &:after {
      content: '';
      display: block;

      width: 0;
      height: 0;

      border: solid transparent;
      border-color: rgba(0, 0, 0, 0);
    }

    &:hover {

      opacity: 1;
    }
  }

  &_inc {
    margin-bottom: 7px;

    &:after {
      border-width: 5px 5px 8px 5px;
      border-bottom-color: $color-secondary;
    }
  }

  &_dec {

    &:after {
      border-width: 8px 5px 5px 5px;
      border-top-color: $color-secondary;
    }
  }

  &_primary {
    position: relative;

    padding: .6em 1em;

    text-align: center;

    font-size: 1.2em;
    color: $color-secondary;

    transition: color .3s ease;

    @include breakpoint($mobile) {

      font-size: 1.267em;
    }

    @include breakpoint($iphone5-p) {

      font-size: 1.133em;
    }

    @include breakpoint($tablet-p) {

      font-size: 1.3327em;
    }

    &.is-loading {
      box-shadow: 0 0 15px 0 rgba(51, 159, 208, .3), inset 0 0 15px rgba(51, 159, 208, .3);

      color: #7BC6F5;

      @include breakpoint($mobile-tablet) {

        box-shadow: 0 0 15px 0 rgba(51, 159, 208, .18), inset 0 0 15px rgba(51, 159, 208, .18);
      }

      @include breakpoint($laptop-small) {

        box-shadow: 0 0 15px 0 rgba(51, 159, 208, .18), inset 0 0 15px rgba(51, 159, 208, .18);
      }

      transition: box-shadow .4s ease;

      .btn-corners {

        &:before,
        &:after {
          width: 100%;
          height: 100%;

          border-color: #7BC6F5;

          color: #7BC6F5;

          @include breakpoint($mobile-tablet) {
            border-color: rgba(123, 198, 245, .6);

            color: rgba(123, 198, 245, .6);
          }

          @include breakpoint($laptop-small) {
            border-color: rgba(123, 198, 245, .6);

            color: rgba(123, 198, 245, .6);
          }
        }
      }
    }

    @include breakpoint($mobile-tablet) {
      &.is-active {
        box-shadow: 0 0 15px 0 rgba(51, 159, 208, .3), inset 0 0 15px rgba(51, 159, 208, .3);

        color: #7BC6F5;

        @include breakpoint($mobile-tablet) {

          box-shadow: 0 0 15px 0 rgba(51, 159, 208, .18), inset 0 0 15px rgba(51, 159, 208, .18);
        }

        @include breakpoint($laptop-small) {

          box-shadow: 0 0 15px 0 rgba(51, 159, 208, .18), inset 0 0 15px rgba(51, 159, 208, .18);
        }

        transition: box-shadow .4s ease;

        .btn-corners {

          &:before,
          &:after {
            width: 100%;
            height: 100%;

            border-color: #7BC6F5;

            color: #7BC6F5;

            @include breakpoint($mobile-tablet) {
              border-color: rgba(123, 198, 245, .6);

              color: rgba(123, 198, 245, .6);
            }

            @include breakpoint($laptop-small) {
              border-color: rgba(123, 198, 245, .6);

              color: rgba(123, 198, 245, .6);
            }
          }
        }
      }
    }

    @include breakpoint($any-desktop) {
      &:hover {
        box-shadow: 0 0 15px 0 rgba(51, 159, 208, .3), inset 0 0 15px rgba(51, 159, 208, .3);

        color: #7BC6F5;

        @include breakpoint($mobile-tablet) {

          box-shadow: 0 0 15px 0 rgba(51, 159, 208, .18), inset 0 0 15px rgba(51, 159, 208, .18);
        }

        @include breakpoint($laptop-small) {

          box-shadow: 0 0 15px 0 rgba(51, 159, 208, .18), inset 0 0 15px rgba(51, 159, 208, .18);
        }

        transition: box-shadow .4s ease;

        .btn-corners {

          &:before,
          &:after {
            width: 100%;
            height: 100%;

            border-color: #7BC6F5;

            color: #7BC6F5;

            @include breakpoint($mobile-tablet) {
              border-color: rgba(123, 198, 245, .6);

              color: rgba(123, 198, 245, .6);
            }

            @include breakpoint($laptop-small) {
              border-color: rgba(123, 198, 245, .6);

              color: rgba(123, 198, 245, .6);
            }
          }
        }
      }
    }

    &.is-loading {
      animation: loading 2s ease infinite;

      color: rgba(51, 159, 208, .8);

      .btn-corners {

        &:before,
        &:after {

          border: none;
        }
      }
    }

    .btn-corners {

      &:before,
      &:after {
        content: '';

        width: 10px;
        height: 10px;

        position: absolute;

        border-color: $color-secondary;
        border-style: solid;

        transition: width .2s ease,
        height .2s ease,
        border-color .2s ease,
        color .2s ease;
      }

      &:before {

        left: 0;
      }

      &:after {

        right: 0;
      }

      &_top {

        &:before,
        &:after {

          top: 0;
        }

        &:before {

          border-width: 1px 0 0 1px;
        }

        &:after {

          border-width: 1px 1px 0 0;
        }
      }

      &_bottom {

        &:before,
        &:after {

          bottom: 0;
        }

        &:before {

          border-width: 0 0 1px 1px;
        }

        &:after {

          border-width: 0 1px 1px 0;
        }
      }
    }
  }

  &_close {
    width: 18px;
    height: 18px;

    position: relative;

    &:before,
    &:after {
      content: '';
      display: block;

      width: 25px;
      height: 1px;

      position: absolute;

      top: 50%;
      left: -4px;

      background-color: $color-primary;
    }

    &:before {

      transform: rotate(45deg);
    }

    &:after {

      transform: rotate(-45deg);
    }
  }
}