/**
  Buttons styles
 */
.btn {
  display: inline-block;

  padding: 0;

  &_inc,
  &_dec {
    position: relative;

    opacity: .6;

    @include transition(opacity .3s ease);

    &:after {
      content: '';
      display: block;

      width: 0;
      height: 0;

      border: solid transparent;
      border-color: rgba(0, 0, 0, 0);
    }

    &:hover {

      opacity: 1;
    }
  }

  &_inc {
    margin-bottom: 7px;

    &:after {
      border-width: 5px 5px 8px 5px;
      border-bottom-color: $color-secondary;
    }
  }

  &_dec {

    &:after {
      border-width: 8px 5px 5px 5px;
      border-top-color: $color-secondary;
    }
  }

  &_primary {
    position: relative;

    padding: .6em 1em;

    text-align: center;

    font-size: 1.25em;
    color: $color-secondary;

    &:hover,
    &:active {

      > .btn-corners {

        &:before,
        &:after {
          animation: border-animation .6s ease;
        }
      }
    }

    > .btn-corners {

      &:before,
      &:after {
        content: '';

        width: 10px;
        height: 10px;

        position: absolute;

        border-color: #989898;
        border-style: solid;

        @include transition(width .3s ease, height .3s ease);

        animation-fill-mode: forwards;
      }

      &:before {

        left: 0;
      }

      &:after {

        right: 0;
      }

      &_top {

        &:before,
        &:after {

          top: 0;
        }

        &:before {

          border-width: 1px 0 0 1px;
        }

        &:after {

          border-width: 1px 1px 0 0;
        }
      }

      &_bottom {

        &:before,
        &:after {

          bottom: 0;
        }

        &:before {

          border-width: 0 0 1px 1px;
        }

        &:after {

          border-width: 0 1px 1px 0;
        }
      }
    }
  }

  &_close {
    width: 18px;
    height: 18px;

    position: relative;

    &:before,
    &:after {
      content: '';
      display: block;

      width: 25px;
      height: 1px;

      position: absolute;

      top: 50%;
      left: -4px;

      background-color: $color-primary;
    }

    &:before {

      @include transform(rotate(45deg));
    }

    &:after {

      @include transform(rotate(-45deg));
    }
  }
}