/**
  Spinner styles
 */
.spinner {
  width: 50%;

  display: inline-block;

  &__label {
    font-weight: $font-style-regular;
  }

  > .form__control {
    width: 106px;

    margin-left: .6em;
    padding: 0;

    font-size: 1.875em;
    font-weight: $font-style-light;
  }

  &__controls {
    width: 15px;
    height: 35px;

    display: inline-block;

    vertical-align: bottom;

    font-size: 0;
  }
}