/**
* Spinner styles
 */
html[lang="en"] {

  .spinner {

    &:first-child {

      > .spinner__label {

        @include breakpoint($laptop-small) {

          display: none;
        }

        @include breakpoint($laptop-medium) {

          display: none;
        }
      }

      > .form__control {

        @include breakpoint($laptop-small) {

          margin-left: 0;
        }

        @include breakpoint($laptop-medium) {

          margin-left: 0;
        }
      }
    }
  }
}
.spinner {
  width: 50%;

  display: inline-block;

  @include breakpoint($mobile) {

    width: 46%;
  }

  @include breakpoint($tablet) {

    width: auto;
  }

  &:first-child {

    @include breakpoint($mobile) {

      text-align: left;
    }

    > .form__control {

      @include breakpoint($tablet) {

        margin-right: .4em;
      }
    }
  }

  &:last-child {

    @include breakpoint($mobile) {

      text-align: right;
    }
  }

  & + .separator {

    @include breakpoint($mobile) {

      font-size: .82em;
    }
  }

  > .spinner__label {

    @include breakpoint($mobile) {

      display: none;
    }
  }

  &__label,
  > .form__control {

    color: #C5D5E0;
  }

  &__label {
    font-size: 1em;
    font-weight: $font-style-regular;
  }

  > .form__control {
    width: 106px;

    margin-left: .4em;
    padding: 0;

    opacity: .5;

    border: 0;
    box-shadow: none;

    font-size: 1.875em;
    font-weight: $font-style-light;

    transition: opacity .3s ease;

    @include breakpoint($mobile) {
      width: 88px;

      margin-left: 0;

      border-bottom: 1px solid $color-primary;

      font-size: 1.706em;
    }

    @include breakpoint($tablet) {
      width: 96px;

      border-bottom: 1px solid $color-primary;
    }

    &:hover,
    &:focus {

      opacity: 1;
    }
  }

  &__controls {
    width: 15px;
    height: 35px;

    display: inline-block;

    vertical-align: bottom;

    font-size: 0;

    @include breakpoint($mobile-tablet) {

      display: none;
    }
  }
}