/**
  Spinner styles
 */
.spinner {
  width: 50%;

  display: inline-block;

  @include breakpoint($mobile) {

    width: 46%;
  }

  @include breakpoint($tablet) {

    width: auto;
  }

  &:first-child {

    @include breakpoint($mobile) {

      text-align: left;
    }

    > .form__control {

      @include breakpoint($tablet) {

        margin-right: .6em;
      }
    }
  }

  &:last-child {

    @include breakpoint($mobile) {

      text-align: right;
    }
  }

  & + .separator {

    @include breakpoint($mobile) {

      font-size: .82em;
    }
  }

  > .spinner__label {

    @include breakpoint($mobile) {

      display: none;
    }
  }

  &__label {

    font-weight: $font-style-regular;
  }

  > .form__control {
    width: 106px;

    margin-left: .6em;
    padding: 0;

    font-size: 1.875em;
    font-weight: $font-style-light;
    color: rgba(105, 105, 105, .8);

    @include breakpoint($mobile) {
      width: 88px;

      margin-left: 0;

      border-bottom: 1px solid $color-primary;

      font-size: 1.706em;
    }

    @include breakpoint($tablet) {
      width: 96px;

      border-bottom: 1px solid $color-primary;
    }

    &:focus {

      color: rgba(105, 105, 105, 1);
    }
  }

  &__controls {
    width: 15px;
    height: 35px;

    display: inline-block;

    vertical-align: bottom;

    font-size: 0;

    @include breakpoint($mobile-tablet) {

      display: none;
    }
  }
}