/**
  Location indicator styles
 */
.location-indicator {
  $bar-width: 320px;
  $bar-height-mob: 130px;
  $bar-height-tabletp: 130px;
  $bar-height: 15px;
  $marker-size: 32px;

  width: $bar-width;

  display: inline-block;

  position: relative;

  top: 19.5em;

  z-index: 1;

  @include breakpoint($mobile) {
    width: $bar-height;
    height: $bar-height-mob;

    top: auto;
    left: (100% / $cols-number-mob * 2);
    margin-bottom: (-$bar-height-mob - 4px);
  }

  @include breakpoint($tablet) {
    width: $bar-height;

    top: auto;
  }

  @include breakpoint($tablet-p) {
    height: $bar-height-tabletp;

    left: (100% / $cols-number-tabletp);
    margin-bottom: (-$bar-height-tabletp - 4px);

  }

  @include breakpoint($tablet-l) {
    height: $bar-height-mob;

    left: (100% / $cols-number-tabletl * 2);
    margin-bottom: (-$bar-height-mob - 4px);
  }

  @include breakpoint($laptop-small) {
    width: $bar-height;
    height: $bar-height-mob;

    top: auto;
    left: (100% / $cols-number-tabletl * 2);
    margin-bottom: (-$bar-height-mob - 4px);
  }

  &__bar {
    width: ($bar-width - 20px);
    height: 1px;

    position: relative;

    background-color: #C3C3C3;

    @include breakpoint($mobile) {
      width: 1px;
      height: $bar-height-mob;
    }

    @include breakpoint($tablet) {
      width: 1px;
      height: $bar-height-mob;
    }

    @include breakpoint($tablet-p) {

      height: $bar-height-tabletp;
    }

    @include breakpoint($tablet-l) {

      height: $bar-height-mob;
    }

    @include breakpoint($laptop-small) {
      width: 1px;
      height: $bar-height-mob;
    }

    &:before {
      content: '';
      display: block;

      width: 200px;
      height: $bar-height;

      position: absolute;

      top: 50%;
      right: 0;

      margin-top: (-$bar-height / 2);

      background-color: #fff;

      box-shadow: 3px 2px 6px 0 rgba(0, 0, 0, .2);

      z-index: $under-zindex;

      @include breakpoint($mobile) {
        width: $bar-height;
        height: $bar-height-mob;

        top: auto;
        left: 50%;

        margin-top: auto;
        margin-left: (-$bar-height / 2);

        box-shadow: 3px 8px 9px 0 rgba(0, 0, 0, .2);
      }

      @include breakpoint($tablet) {
        width: $bar-height;

        top: auto;
        left: 50%;

        margin-top: auto;
        margin-left: (-$bar-height / 2);

        box-shadow: 3px 8px 9px 0 rgba(0, 0, 0, .2);
      }

      @include breakpoint($tablet-p) {

        height: $bar-height-tabletp;
      }

      @include breakpoint($tablet-l) {

        height: $bar-height-mob;
      }

      @include breakpoint($laptop-small) {
        width: $bar-height;
        height: $bar-height-mob;

        top: auto;
        left: 50%;

        margin-top: auto;
        margin-left: (-$bar-height / 2);

        box-shadow: 3px 8px 9px 0 rgba(0, 0, 0, .2);
      }
    }
  }

  &__marker {
    width: $marker-size;
    height: $marker-size;

    position: absolute;

    top: 50%;
    right: 0;

    margin-top: -($marker-size / 2);

    text-align: center;

    border-radius: 50%;

    background-color: #fff;

    box-shadow: 3px 2px 6px 0 rgba(0, 0, 0, .2);

    cursor: pointer;

    @include breakpoint($mobile) {
      top: 100%;

      box-shadow: 3px 8px 9px 0 rgba(0, 0, 0, .2);
    }

    @include breakpoint($tablet) {
      top: 100%;

      box-shadow: 3px 8px 9px 0 rgba(0, 0, 0, .2);
    }

    @include breakpoint($laptop-small) {
      top: 100%;

      box-shadow: 3px 8px 9px 0 rgba(0, 0, 0, .2);
    }

    &:after {
      content: '+';
      display: block;

      line-height: ($marker-size - 2px);

      font-size: 2em;
      font-weight: $font-style-regular;
      color: $color-secondary;

      @include transition(transform .3s ease);
    }

    &:hover {

      &:after {

        @include transform(rotate(90deg));
      }

      ~ .location-indicator__info {
        width: 132px;

        box-shadow: 0 3px 6px 0 rgba(0, 0, 0, .16);

        @include breakpoint($mobile) {

          width: 220px;
        }

        @include breakpoint($tablet) {

          width: 220px;
        }

        @include breakpoint($laptop-small) {

          width: 220px;
        }

        span {
          @include transform(translateX(0));

          opacity: 1;
        }
      }
    }
  }

  &__info {
    width: 0;

    position: absolute;

    top: -36px;
    left: 305px;

    background-color: #fff;

    z-index: $under-zindex;

    @include transition(width .3s ease, box-shadow .3s ease);

    @include breakpoint($mobile-tablet) {

      white-space: nowrap;
    }

    @include breakpoint($mobile-p) {
      top: 130px;
      left: -156px;
    }

    @include breakpoint($mobile-l) {
      top: 94px;
      left: -221px;
    }

    @include breakpoint($tablet) {
      top: 94px;
      left: -221px;
    }

    @include breakpoint($laptop-small) {
      top: 94px;
      left: -221px;

      white-space: nowrap;
    }

    > .align-container {

      @include breakpoint($mobile) {
        width: 50%;

        display: inline-block;
      }

      @include breakpoint($tablet) {
        width: 50%;

        display: inline-block;
      }

      @include breakpoint($laptop-small) {
        width: 50%;

        display: inline-block;
      }

      &:first-child {

        @include breakpoint($mobile) {

          padding-left: 1.25em;
        }

        @include breakpoint($tablet) {

          padding-left: 1.25em;
        }

        @include breakpoint($laptop-small) {

          padding-left: 1.25em;
        }
      }

      &:last-child {

        @include breakpoint($mobile) {

          padding-right: 1.25em;
        }

        @include breakpoint($tablet) {

          padding-right: 1.25em;
        }

        @include breakpoint($laptop-small) {

          padding-right: 1.25em;
        }
      }
    }

    span {
      display: block;

      @include transform(translateX(-80px));

      margin-right: 12px;
      margin-left: 28px;

      opacity: 0;

      @include transition(transform .3s ease, opacity .3s ease);

      @include breakpoint($mobile) {
        margin-right: auto;
        margin-left: auto;
      }

      @include breakpoint($tablet) {
        margin-right: auto;
        margin-left: auto;
      }

      @include breakpoint($laptop-small) {
        margin-right: auto;
        margin-left: auto;
      }
    }

    &_country {
      margin-top: 1em;

      text-transform: uppercase;
      font-size: 1.067em;
      font-weight: $font-style-medium;
    }

    &_city,
    &_coordinates {

      font-weight: $font-style-regular;
    }

    &_city {
      margin: .1em 0 .5em;

      font-size: .867em;
    }

    &_coordinates {
      font-size: .933em;
      color: $color-secondary;

      & + & {
        margin: .1em 0 1em 28px;

        @include breakpoint($mobile-tablet) {

          margin: .1em 0 1em 0;
        }

        @include breakpoint($laptop-small) {

          margin: .1em 0 1em 0;
        }
      }
    }
  }
}