/**
* Slider styles
 */
.slider {
  $slider-size: 78px;
  $slider-size-laptop-m: 41px;
  $slider-size-laptop-l: 39px;
  $point-size: 6px;
  $slider-bar-height: 96px;

  width: $slider-size;
  height: $slider-size;

  position: absolute;

  top: 50%;

  margin-top: (-$slider-size / 2);
  margin-left: -($slider-size / 2 - $point-size / 2);

  border-radius: 50%;

  z-index: 1;

  @include transition(left .3s ease);

  @include breakpoint($laptop-medium) {
    width: $slider-size-laptop-m;
    height: $slider-size-laptop-m;

    margin-top: (-$slider-size-laptop-m / 2);
    margin-left: (-$slider-size-laptop-m / 2) + 3.5;
  }

  @include breakpoint($laptop-large) {
    width: $slider-size-laptop-l;
    height: $slider-size-laptop-l;

    margin-top: (-$slider-size-laptop-l / 2);
    margin-left: (-$slider-size-laptop-l / 2);
  }

  &:before,
  &:after {
    content: '';
    display: block;

    position: absolute;

    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
  
  &:before {
    background: url('images/slider-orbit.svg') no-repeat;

    -webkit-filter: blur(3px);
    filter: blur(3px);

    @include animation(spin 8s linear infinite);
  }

  &.is-move {
    animation: motion-blur .1s;
    animation-delay: .3s;

    > .slider__body {

      &:before {

        height: 0;

        transition-delay: 0s;
      }

      &:after {

        opacity: 0;
      }
    }

    > .slider__description {

      > .slider__projects,
      > .slider__services,
      > .slider__date {

        @include transform(translateX(20px));

        opacity: 0;
      }

      > .slider__projects {

        transition-delay: .05s;
      }

      > .slider__services {

        transition-delay: .1s;
      }

      > .slider__date {

        transition-delay: .15s;
      }
    }
  }

  &__body {
    width: 100%;
    height: 100%;

    border-radius: 50%;

    &:before,
    &:after {
      content: '';
      display: block;

      position: absolute;

      right: 0;
      left: 0;

      margin: auto;
    }

    &:before {
      width: 1px;
      height: $slider-bar-height;

      top: -60px;

      background: linear-gradient(to bottom, rgba(19, 151, 199, 1) 0%, rgba(19, 151, 199, .47) 100%);

      @include transition(height .3s ease);
      @include transition-delay(.3s);

      opacity: .4;
    }

    &:after {
      width: 24px;
      height: 92px;

      top: -32px;

      background: url('images/slider-glow.svg') no-repeat;

      @include transition(opacity .3s ease);
    }
  }

  &__description {
    max-width: 320px;
    min-width: 190px;

    position: absolute;

    top: -64px;
    left: ($slider-size / 2 + 16px);

    > span {

      display: block;
    }
  }

  &.swap {
    .slider__description {
      left: auto;
      right: ($slider-size / 2 + 16px);

      text-align: right;
    }
  }

  &__projects,
  &__services,
  &__date {

    @include transition(all .2s ease .3s);
  }

  &__projects,
  &__date {

    font-weight: $font-style-regular;
  }

  &__projects {
    font-size: .813em;
    text-transform: uppercase;
    color: $color-secondary;
  }

  &__services {
    margin: .35em 0;

    font-size: .75em;
    font-weight: $font-style-light;
    color: #A3B0B7;
  }

  &__date {
    font-size: .688em;
    color: rgba(148, 177, 188, .31);
  }
}