/**
* Slider styles
 */
.slider {
  $slider-size: 78px;
  $slider-size-laptop-m: 41px;
  $slider-size-laptop-l: 39px;
  $point-size: 6px;
  $slider-bar-height: 96px;

  width: $slider-size;
  height: $slider-size;

  position: absolute;

  top: 50%;

  margin-top: (-$slider-size / 2);
  margin-left: -($slider-size / 2 - $point-size / 2);

  border-radius: 50%;

  z-index: 1;

  @include transition(left .3s ease);

  &:before,
  &:after {
    content: '';
    display: block;

    position: absolute;

    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
  
  &:before {
    background: url('images/slider-orbit.svg') no-repeat;

    -webkit-filter: blur(2px);
    filter: blur(2px);

    opacity: .85;

    @include animation(spin 8s linear infinite);

    @include transition(opacity .3s ease);

    @include breakpoint($laptop-medium) {
      top: 6px;
      right: 6px;
      bottom: 6px;
      left: 6px;
    }

    @include breakpoint($laptop-large) {
      top: 6px;
      right: 6px;
      bottom: 6px;
      left: 6px;
    }
  }

  &.is-move {
    animation: motion-blur .1s;
    animation-delay: .3s;

    &:before {

      opacity: 0;
    }

    > .slider__body {

      &:after {

        opacity: 0;
      }

      > .slider__bar {

        &:before {

          top: $slider-bar-height;
        }
      }
    }

    > .slider__description {

      > .slider__projects,
      > .slider__services,
      > .slider__date {

        @include transform(translateX(-20px));

        opacity: 0;
      }
    }
  }

  &__body {
    width: 100%;
    height: 100%;

    border-radius: 50%;

    > .slider__bar,
    &:after {
      position: absolute;

      right: 0;
      left: 0;

      margin: auto;
    }

    &:after {
      content: '';
      display: block;

      width: 24px;
      height: 92px;

      top: -32px;

      background: url('images/slider-glow.svg') no-repeat;

      @include transition(opacity .3s ease);

      z-index: $under-zindex;
    }

    > .slider__bar {
      width: 2px;
      height: $slider-bar-height;

      top: -60px;

      opacity: .4;

      &:before {
        content: '';
        display: block;

        width: 100%;

        position: absolute;

        top: 0;
        bottom: 0;

        background: linear-gradient(to bottom, rgba(19, 151, 199, 1) 0%, rgba(19, 151, 199, .47) 100%);

        @include transition(top .2s ease .05s);
      }
    }
  }

  &__description {
    max-width: 320px;
    min-width: 190px;

    position: absolute;

    top: -64px;
    left: ($slider-size / 2 + 16px);

    > span {

      display: block;
    }
  }

  &.swap {

    .slider__description {
      right: ($slider-size / 2 + 16px);
      left: auto;

      text-align: right;
    }
  }

  &__projects,
  &__services,
  &__date {

    @include transition(all .3s ease .05s);
  }

  &__projects,
  &__date {

    font-weight: $font-style-regular;
  }

  &__projects {
    font-size: .813em;
    color: $color-secondary;

    //@include transition-delay(.05s);
  }

  &__services {
    margin: .35em 0;

    font-size: .75em;
    font-weight: $font-style-light;
    color: #A3B0B7;

    //@include transition-delay(.1s);
  }

  &__date {
    font-size: .688em;
    color: rgba(148, 177, 188, .31);

    //@include transition-delay(.15s);
  }
}