/**
* Section styles
 */
.section {
  position: relative;

  @include breakpoint($mobile-p) {

    padding-top: 6.5em;
  }

  @include breakpoint($mobile-l) {

    padding-top: 6.5em;
  }

  @include breakpoint($tablet-laptop) {

    padding-top: 9.75em;
  }

  &.section-main {

    .section__half {
      padding: 6em 0 0 1.875em;

      @include breakpoint($mobile) {

        padding: 9em 0 0 0;
      }

      @include breakpoint($tablet-l) {

        padding: 4.3em 0 0 1.875em;
      }

      @include breakpoint($laptop-large) {

        padding: 6em 0 0 1.875em;
      }
    }

    .section__subtitle_reduced {
      width: 230px;

      @include breakpoint($mobile-p) {

        width: auto;
      }
    }
  }

  &.section-process,
  &.section-partnership {

    .section__half {
      padding-top: 2.75em;

      @include breakpoint($mobile-l) {

        padding-top: 2.5em;
      }

      @include breakpoint($laptop-large) {

        padding-top: 2.5em;
      }
    }
  }

  &.section-process {

    .half_first {
      @include span(4 of 12 inside no-gutters);

      padding-right: 11%;

      > .section__text {

        margin: 2.85em 0 7em;
      }

      > h5 {
        margin-bottom: 1.5em;

        line-height: 1.6em;

        font-size: 1em;
        font-weight: $font-style-regular;
        color: #C5D5E0;
      }
    }

    .half_second {

      @include span(8 of 12 inside no-gutters);
    }
  }

  &.section-partnership {

    > .align-container {

      @include breakpoint($tablet-p) {

        padding-bottom: 40em;
      }

      @include breakpoint($tablet-l) {

        padding-bottom: 13em;
      }

      @include breakpoint($laptop-small) {

        padding-bottom: 13em;
      }
    }

    .section__half {

      &.half_first {
        @include span(4 of 12 inside no-gutters);

        @include breakpoint($mobile-tablet) {

          display: none;
        }

        @include breakpoint($laptop-small) {

          display: none;
        }

        .section__subtitle {

          @include breakpoint($laptop-small) {

            display: none;
          }
        }
      }

      &.half_second {
        @include span(6 of 12 inside no-gutters last);

        @include clearfix;

        @include breakpoint($mobile-tablet) {

          @include span(12 of 12 inside no-gutters);

          float: none;
        }

        @include breakpoint($laptop-small) {

          @include span(12 of 12 inside no-gutters);

          float: none;
        }
      }

      .text_medium {
        font-size: 1em;
        color: #C5D5E0;
      }
    }
  }

  .section__title {
    line-height: 1.35em;

    font-size: 3.375em;
    font-family: $font-secondary;
    font-weight: $font-style-light;
    color: #BECED9;

    @include breakpoint($mobile) {

      font-size: 2.375em;
    }

    @include breakpoint($tablet) {

      font-size: 3.125em;
    }

    @include breakpoint($laptop) {

      font-size: 3.125em;
    }

    @include breakpoint($laptop-large) {

      font-size: 3em;
    }

    &-part {
      display: block;

      > span {

        &:first-child {
          line-height: 66px;

          vertical-align: top;
        }
      }

      &-container {
        width: 400px;
        height: 70px;

        display: inline-block;

        position: relative;

        overflow: hidden;

        vertical-align: top;

        @include breakpoint($mobile) {
          width: 100%;
          height: 48px;

          vertical-align: middle;
        }

        @include breakpoint($tablet) {
          width: 350px;
          height: 66px;
        }

        @include breakpoint($laptop-small) {
          width: 350px;
          height: 66px;
        }
      }

      &-variable {
        height: 100%;

        display: block;

        position: absolute;

        top: 0;

        line-height: 66px;

        color: $color-secondary;

        @include breakpoint($mobile) {

          line-height: 1.2em;
        }

        @include breakpoint($tablet-p) {

          line-height: 1.2em;
        }
      }
    }
  }

  .section__text {

    line-height: 1.6em;
  }

  .container {

    @include container;
  }

  .section__half {
    @include span(6 of 12 inside no-gutters);

    font-size: .938em;
    font-weight: $font-style-light;

    @include breakpoint($mobile) {

      @include span(12 of 12 inside no-gutters);
    }

    @include breakpoint($tablet-p) {

      @include span(12 of 12 inside no-gutters);
    }

    @include breakpoint($laptop-large) {

      font-size: .875em;
    }
  }

  .section__subtitle {
    line-height: 1.45em;

    font-size: 1.2em;
    font-weight: $font-style-regular;
    color: #BECED9;

    @include breakpoint($laptop-large) {

      line-height: 1.55em;
    }

    &_reduced {
      display: block;

      font-size: .833em;
      font-weight: $font-style-light;
      color: $color-primary;
    }
  }

  .marker {
    position: relative;

    white-space: pre-line;

    &:before {
      content: '+';
      display: block;

      position: absolute;

      left: -34px;

      line-height: 1.25em;

      font-size: 22px;
      font-weight: $font-style-regular;
      font-family: $font-secondary;

      @include breakpoint($mobile) {

        content: none;
      }

      @include breakpoint($laptop-large) {
        left: -31px;

        font-size: 20px;
      }
    }

    > .section__subtitle_reduced {
      min-height: 52px;
    }
  }

  .services-list {
    white-space: pre;

    line-height: 2.1em;

    &__item {

      margin: .7em 0;
    }
  }

  .clients-list {
    margin-top: 1.1em;

    &__item {

      &:not(:last-child) {

        margin-bottom: .5em;
      }

      &:last-child {

        > .clients-list__link {

          text-transform: uppercase;
        }
      }
    }

    &__link {
      width: 150px;

      font-size: 1.2em;
      font-weight: $font-style-regular;
      color: $color-secondary;

      @include breakpoint($tablet-l) {
        margin: .3em 0;
      }
    }

    &__text {
      opacity: .25;

      font-size: .933em;
      color: #94B1BC;

      @include breakpoint($mobile) {

        display: block;
      }

      @include breakpoint($tablet-l) {

        display: block;
      }
    }
  }
}