/**
  Section styles
 */
.section {
  @include container;

  padding-top: 9.75em;

  // Temp
  height: 100vh;
  //

  &.section-main {

    > .section-half {

      padding: 6em 0 0 1.875em;
    }

    .section__subtitle_reduced {

      width: 304px;
    }
  }

  &.section-partnership {

    > .section-half {
      padding-top: 3.5em;

      &.half-first {

        @include span(4 of 12 inside no-gutters);
      }

      &.half-second {

        @include span(6 of 12 inside no-gutters last);
      }
    }
  }

  .section__title {
    line-height: 1.35em;

    font-size: 3.375em;
    font-family: $font-secondary;
    font-weight: $font-style-light;

    &_part {

      display: block;
    }

    &_part-marked {

      color: $color-secondary;
    }
  }

  .section-half {
    font-size: .938em;
    font-weight: $font-style-light;
  }

  .section__subtitle {
    line-height: 1.45em;

    font-size: 1.2em;
    font-weight: $font-style-medium;

    &_marker {
      position: relative;

      &:before {
        content: '+';
        display: block;

        position: absolute;

        left: -34px;

        font-weight: $font-style-bold;
      }
    }

    &_reduced {
      display: block;

      font-size: .833em;
      font-weight: $font-style-light;
    }
  }

  .services-list {

    &__item {

      margin: .65em 0;
    }
  }

  > .section-half {

    @include span(6 of 12 inside no-gutters);
  }

  .clients-list {
    margin-top: 1.5em;

    &__item {

      &:not(:last-child) {

        margin-bottom: .5em;
      }

      &:last-child {

        > .clients-list__link {

          text-transform: uppercase;
        }
      }
    }

    &__link {
      width: 150px;

      font-size: 1.2em;
      font-weight: $font-style-regular;
      color: $color-secondary;
    }

    &__text {
      font-size: .933em;
      color: #c3c3c3;
    }
  }
}