/**
* Section styles
 */
html[lang="en"] {

  .section {

    &__title-part {

      @include breakpoint($iphone5-p) {

        display: block;
      }
    }
  }
}

.section {
  position: relative;

  @include breakpoint($mobile-p) {

    padding-top: 6.5em;
  }

  @include breakpoint($mobile-l) {

    padding-top: 6.5em;
  }

  @include breakpoint($tablet-laptop) {

    padding-top: 9.75em;
  }

  &__text {
    line-height: 26px;

    @include breakpoint($laptop-medium) {

      font-size: .938em;
    }
  }

  &.section-main {

    @include breakpoint($laptop-medium) {

      padding-bottom: 0;
    }

     > .align-container {

       > .container {

         @include breakpoint($mobile-p) {

           min-height: 630px;
         }

         @include breakpoint($tablet-p) {

           min-height: 562px;
         }

         @include breakpoint($tablet-l) {

           min-height: 278px;
         }

         @include breakpoint($laptop-small) {

           min-height: 278px;
         }
       }
     }

    .section__half {
      padding: 4.2em 0 0 1.875em;

      @include breakpoint($mobile) {

        padding: 5.25em 0 0 0;
      }

      @include breakpoint($tablet-l) {

        padding: 4.3em 0 0 1.875em;
      }

      @include breakpoint($laptop-large) {

        padding: 4em 0 0 1.875em;
      }

      @include breakpoint($square) {

        padding: 8em 0 0 1.875em;
      }
    }

    .section__title {
      @include breakpoint($mobile-p) {
        margin: 1.2em 0 .75em;

        line-height: 1.4em;
      }
    }

    .section__subtitle_reduced {
      width: 240px;

      @include breakpoint($mobile) {
        margin-top: 1.1em;

        line-height: 1.6em;

        font-size: .833em;
      }

      @include breakpoint($mobile-p) {

        width: auto;
      }

      @include breakpoint($tablet-p) {
        width: 260px;

        font-size: .9em;
      }
    }

    .marker {

      &:before {

        @include breakpoint($mobile) {

          content: none;
        }
      }
    }
  }

  &.section-process,
  &.section-partnership {

    .section__half {
      padding-top: 42px;

      @include breakpoint($mobile) {

        padding-top: 30px;
      }

      @include breakpoint($laptop-large) {

        padding-top: 38px;
      }
    }
  }

  &.section-process {

    > .align-container {

      position: relative;
    }

    // Strange hover bug fix
    .section__half {

      &.half_first {
        padding-top: 0;

        @include breakpoint($tablet-p) {

          margin-bottom: 3em;
        }

        .section__subtitle {
          padding-top: 42px;

          @include breakpoint($mobile) {

            padding-top: 30px;
          }

          @include breakpoint($laptop-medium) {

            font-size: 1em;
          }

          @include breakpoint($laptop-large) {

            padding-top: 38px;
          }
        }
      }
    }

    .half_first {
      @include span(4 of 12 inside no-gutters);

      padding-right: 12%;

      @include breakpoint($mobile) {
        @include span(12 of 12 inside no-gutters);

        float: none;

        padding-right: 0;
      }

      @include breakpoint($tablet) {
        @include span(12 of 12 inside no-gutters);

        float: none;

        padding-right: 0;
      }

      @include breakpoint($laptop-small) {
        @include span(12 of 12 inside no-gutters);

        float: none;

        padding-right: 0;
      }

      @include breakpoint($laptop-medium) {

        padding-right: 7%;
      }

      @include breakpoint($laptop-large) {

        padding-right: 8%;
      }

      > .align-container {

        @include breakpoint($tablet-l) {
          display: inline-block;

          width: 50%;

          vertical-align: top;
        }

        @include breakpoint($laptop-small) {
          display: inline-block;

          width: 50%;

          vertical-align: top;
        }

        &:first-child {

          @include breakpoint($tablet-l) {

            padding-right: 13%;
          }

          @include breakpoint($laptop-small) {

            padding-right: 13%;
          }
        }
      }

      .section__subtitle {

        > span {

          @include breakpoint($tablet-l) {

            display: block;
          }

          @include breakpoint($laptop-small) {

            display: block;
          }
        }
      }

      .section__text {
        margin: 2.85em 0 7em;

        @include breakpoint($mobile) {

          margin: 1.85em 0 3em;
        }

        @include breakpoint($tablet-p) {

          margin: 1.85em 0 3em;
        }

        @include breakpoint($tablet-l) {

          margin: 2.85em 0 4.5em;
        }

        @include breakpoint($laptop-small) {

          margin: 2.85em 0 4.5em;
        }

        @include breakpoint($laptop-medium) {

          margin: 2.85em 0;
        }
      }

      h5 {
        margin-bottom: 1.5em;

        line-height: 1.6em;

        font-size: 1em;
        font-weight: $font-style-regular;
        color: #C5D5E0;

        @include breakpoint($mobile) {

          font-size: 1.2em;
        }

        @include breakpoint($tablet) {

          font-size: 1.2em;
        }

        @include breakpoint($tablet-l) {
          margin-bottom: 2.6em;
          padding-top: 42px;
        }

        @include breakpoint($laptop-small) {
          margin-bottom: 2.6em;
          padding-top: 42px;

          font-size: 1.2em;
        }
      }
    }

    .half_second {
      @include span(8 of 12 inside no-gutters);

      position: absolute;

      top: 50%;
      right: 0;

      transform: translateY(-50%);

      margin-top: 62px;

      padding-top: 0;

      backface-visibility: hidden;

      @include breakpoint($mobile-tablet) {
        @include span(12 of 12 inside no-gutters);

        float: none;

        position: static;

        top: auto;
        right: auto;

        transform: translateY(0);

        margin-top: 0;
        padding-top: 42px;
      }

      @include breakpoint($mobile) {

        position: relative;
      }

      @include breakpoint($laptop-small) {
        @include span(12 of 12 inside no-gutters);

        float: none;

        position: static;

        top: auto;
        right: auto;

        transform: translateY(0);

        margin-top: 0;
        padding-top: 42px;
      }

      @include breakpoint($laptop-medium) {

        margin-top: 45px;
      }

      > .align-container {

        @include breakpoint($tablet-p) {
          width: 50%;

          display: inline-block;

          vertical-align: top;
        }
      }
    }
  }

  &.section-partnership {

    @include breakpoint($laptop-medium) {

      padding-top: 0;
    }

    > .align-container {

      @include breakpoint($tablet-p) {

        padding-bottom: 40em;
      }

      @include breakpoint($tablet-l) {

        padding-bottom: 13em;
      }

      @include breakpoint($laptop-small) {

        padding-bottom: 13em;
      }
    }

    .section__half {
      @include breakpoint($tablet-p) {

        padding-top: 3.75em;
      }

      &.half_first {
        @include span(4 of 12 inside no-gutters);

        @include breakpoint($mobile-tablet) {

          display: none;
        }

        @include breakpoint($laptop-small) {

          display: none;
        }

        .section__subtitle {

          @include breakpoint($laptop-small) {

            display: none;
          }
        }
      }

      &.half_second {
        @include span(6 of 12 inside no-gutters last);

        @include breakpoint($mobile-tablet) {

          @include span(12 of 12 inside no-gutters);

          float: none;
        }

        @include breakpoint($laptop-small) {

          @include span(12 of 12 inside no-gutters);

          float: none;
        }
      }

      .text_regular {
        font-size: 1em;
        color: #C5D5E0;

        @include breakpoint($mobile) {

          font-size: 1.2em;
        }

        @include breakpoint($tablet-p) {
          margin-bottom: .25em;

          font-size: 1.176em;
        }

        @include breakpoint($tablet-l) {

          font-size: 1.2em;
        }

        @include breakpoint($laptop-small) {

          font-size: 1.2em;
        }
      }
    }
  }

  .section__title {
    line-height: 1.35em;

    font-size: 3.375em;
    font-family: $font-secondary;
    font-weight: $font-style-light;
    color: #BECED9;

    @include breakpoint($mobile) {

      font-size: 2.375em;
    }

    @include breakpoint($tablet) {

      font-size: 3.125em;
    }

    @include breakpoint($laptop) {

      font-size: 3.063em;
    }

    @include breakpoint($laptop-large) {

      font-size: 2.938em;
    }

    @include breakpoint($square) {

      margin-top: .75em;
    }

    &-part {
      display: block;

      @include breakpoint($mobile-p) {

        display: inline;
      }

      &:first-child {

        > span {

          @include breakpoint($mobile-l) {

            display: inline-block;
          }

          &:first-child {

            @include breakpoint($mobile-p) {

              display: block;
            }
          }
        }

        &-variable {

          @include breakpoint($mobile-p) {

            display: inline;
          }
        }
      }

      &:last-child {

        > .section__title-part-variable {

          @include breakpoint($mobile) {

            display: inline-block;
          }

          @include breakpoint($tablet-p) {

            display: inline-block;
          }
        }
      }

      &-variable {

        color: $color-secondary;
      }
    }
  }

  .container {

    @include container;
  }

  .section__half {
    @include span(6 of 12 inside no-gutters);

    @include clearfix;

    font-size: .938em;
    font-weight: $font-style-light;

    @include breakpoint($mobile) {

      @include span(12 of 12 inside no-gutters);
    }

    @include breakpoint($tablet-p) {

      @include span(12 of 12 inside no-gutters);
    }

    @include breakpoint($laptop-large) {

      font-size: .875em;
    }
  }

  .section__subtitle {
    line-height: 1.45em;

    font-size: 1.2em;
    font-weight: $font-style-regular;
    color: #BECED9;

    @include breakpoint($mobile) {
      line-height: 1.5em;

      font-size: 1.2em;
    }

    @include breakpoint($tablet-p) {

      font-size: 1.333em;
    }

    @include breakpoint($laptop-large) {

      line-height: 1.55em;
    }

    &_reduced {
      display: block;

      font-size: .833em;
      font-weight: $font-style-light;
      color: $color-primary;

      @include breakpoint($laptop-medium) {

        font-size: .778em;
      }
    }
  }

  .marker {
    position: relative;

    white-space: pre-line;

    margin-bottom: .222em;

    @include breakpoint($mobile) {

      margin-bottom: 1em;
    }

    &:before {
      content: '+';
      display: block;

      position: absolute;

      left: -34px;

      line-height: 1.25em;

      font-size: 22px;
      font-weight: $font-style-regular;
      font-family: $font-secondary;

      color: #797979;

      @include breakpoint($laptop-large) {
        left: -31px;

        font-size: 20px;
      }
    }

    > .section__subtitle_reduced {
      position: relative;
      
      white-space: pre-line;
    }
  }

  .services-list {
    position: relative;

    white-space: pre-line;

    line-height: 2.1em;

    width: 88%;

    @include breakpoint($tablet-p) {

      font-size: 1.2em;
    }

    @include breakpoint($laptop-medium) {

      font-size: .933em;
    }

    > a {
      display: inline;

      color: #339FD0;

      transition: color .3s ease, border-bottom-color .3s ease;

      border-bottom: 1px solid #339fd06e;

      line-height: 1.3em;

      &:hover {

        color: #7BC6F5;

        border-bottom-color: #339fd0ba;
      }
    }

    &__item {
      margin: .7em 0;

      @include breakpoint($tablet-p) {

        font-size: 1.2em;
      }
    }
  }

  .clients-list {
    margin-top: 1.1em;
    
    &__item {

      &:not(:last-child) {
        margin-bottom: .5em;

        @include breakpoint($mobile) {

          margin-bottom: 1em;
        }
      }
    }

    &__link {
      width: 150px;

      font-size: 1.2em;
      font-weight: $font-style-regular;
      color: $color-secondary;

      transition: color .3s ease;

      @include breakpoint($mobile) {
        width: auto;

        font-size: 1.467em;
      }

      @include breakpoint($tablet-p) {
        width: 166px;

        font-size: 1.333em;
      }

      @include breakpoint($tablet-l) {

        margin: .3em 0;
      }

      &:hover {
        color: #7BC6F5;
      }
    }

    &__text {
      opacity: .3;

      font-size: .933em;
      color: #94B1BC;

      @include breakpoint($mobile) {
        display: block;

        margin-top: .25em;
      }

      @include breakpoint($tablet-p) {

        font-size: 1.067em;
      }

      @include breakpoint($tablet-l) {

        display: block;
      }
    }
  }
}

// animation classes

.showing {

  animation: showing 3.5s ease forwards;
}