/**
  Section styles
 */
.section {
  @include container;

  padding-top: 9.75em;

  @include breakpoint($mobile-p) {

    padding: 6.5em 1.875em 0;
  }

  @include breakpoint($mobile-l) {

    padding: 6.5em 4.688em;
  }

  @include breakpoint($tablet-laptop) {

    padding: 9.75em 5.313em;
  }

  &.section-main {

    .section-half {
      padding: 6em 0 0 1.875em;

      @include breakpoint($mobile) {

        padding: 9em 0 0 0;
      }
    }

    .section-subtitle_reduced {
      width: 304px;

      @include breakpoint($mobile-p) {

        width: auto;
      }
    }
  }

  &.section-partnership {

    > .section-half {
      padding-top: 3.5em;

      @include breakpoint($mobile-p) {

        padding-top: 2.75em;
      }

      @include breakpoint($mobile-l) {

        padding-top: 2.5em;
      }

      &.half-first {
        @include span(4 of 12 inside no-gutters);

        @include breakpoint($mobile-tablet) {

          display: none;
        }

        .section-subtitle {

          @include breakpoint($laptop-not-large) {

            display: none;
          }
        }
      }

      &.half-second {
        @include span(6 of 12 inside no-gutters last);

        @include breakpoint($mobile-tablet) {

          @include span(12 of 12 inside no-gutters);
        }
      }
    }
  }

  .section-title {
    line-height: 1.35em;

    font-size: 3.375em;
    font-family: $font-secondary;
    font-weight: $font-style-light;

    @include breakpoint($mobile) {

      font-size: 2.375em;
    }

    @include breakpoint($tablet) {

      font-size: 3.125em;
    }

    &__part {
      display: block;

      &:first-child {

        .section-title__part-variable {

          animation: change-title-1 12s ease infinite;
        }
      }

      &:last-child {

        .section-title__part-variable {

          animation: change-title-2 12s ease infinite;
        }
      }

      &-container {
        height: 60px;

        display: inline-block;

        overflow: hidden;

        vertical-align: middle;

        @include breakpoint($mobile) {

          height: 43px;
        }

        @include breakpoint($tablet) {

          height: 55px;
        }
      }

      &-variable {
        display: block;

        line-height: 1em;

        color: $color-secondary;

        &:not(:last-child) {

          margin-bottom: 16px;
        }
      }
    }
  }

  .container {

    @include container;
  }

  .section-half {
    @include span(6 of 12 inside no-gutters);

    font-size: .938em;
    font-weight: $font-style-light;

    @include breakpoint($mobile) {

      @include span(12 of 12 inside no-gutters);
    }

    @include breakpoint($tablet-p) {

      @include span(12 of 12 inside no-gutters);
    }
  }

  .section-subtitle {
    line-height: 1.45em;

    font-size: 1.2em;
    font-weight: $font-style-medium;

    &_marker {
      position: relative;

      &:before {
        content: '+';
        display: block;

        position: absolute;

        left: -33px;

        font-weight: $font-style-bold;

        @include breakpoint($mobile) {

          content: none;
        }
      }
    }

    &_reduced {
      display: block;

      font-size: .833em;
      font-weight: $font-style-light;
    }
  }

  .services-list {

    &__item {

      margin: .65em 0;
    }
  }

  .clients-list {
    margin-top: 1.5em;

    &__item {

      &:not(:last-child) {

        margin-bottom: .5em;
      }

      &:last-child {

        > .clients-list__link {

          text-transform: uppercase;
        }
      }
    }

    &__link {
      width: 150px;

      font-size: 1.2em;
      font-weight: $font-style-regular;
      color: $color-secondary;
    }

    &__text {
      font-size: .933em;
      color: #c3c3c3;

      @include breakpoint($mobile-p) {

        display: block;
      }
    }
  }
}