/**
  Section styles
 */
.section {
  @include container;

  // temp
  /*max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 0 16.8em;

  background: #27121f;
  background: -moz-linear-gradient(45deg, #27121f 0%, #0c233c 100%);
  background: -webkit-linear-gradient(45deg, #27121f 0%,#0c233c 100%);
  background: linear-gradient(45deg, #27121f 0%,#0c233c 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#27121f', endColorstr='#0c233c',GradientType=1 );
*/
  position: relative;

  @include breakpoint($mobile-p) {

    padding-top: 6.5em;
  }

  @include breakpoint($mobile-l) {

    padding-top: 6.5em;
  }

  @include breakpoint($tablet-laptop) {

    padding-top: 9.75em;
  }

  &.section-main {

    .section__half {
      padding: 6em 0 0 1.875em;

      @include breakpoint($mobile) {

        padding: 9em 0 0 0;
      }

      @include breakpoint($tablet-l) {

        padding: 4.3em 0 0 1.875em;
      }

      @include breakpoint($laptop-large) {

        padding: 6em 0 0 1.875em;
      }
    }

    .section__subtitle_reduced {
      width: 304px;

      @include breakpoint($mobile-p) {

        width: auto;
      }
    }
  }

  &.section-partnership {

    @include breakpoint($laptop-not-large) {

      padding-bottom: 9.75em;
    }

    .section__half {
      padding-top: 3.5em;

      @include breakpoint($mobile-p) {

        padding-top: 2.75em;
      }

      @include breakpoint($mobile-l) {

        padding-top: 2.5em;
      }

      @include breakpoint($laptop-large) {

        padding-top: 2.5em;
      }

      &.half_first {
        @include span(4 of 12 inside no-gutters);

        @include breakpoint($mobile-tablet) {

          display: none;
        }

        @include breakpoint($laptop-small) {

          display: none;
        }

        .section__subtitle {

          @include breakpoint($laptop-small) {

            display: none;
          }
        }
      }

      &.half_second {
        @include span(6 of 12 inside no-gutters last);

        @include breakpoint($mobile-tablet) {

          @include span(12 of 12 inside no-gutters);

          float: none;
        }

        @include breakpoint($laptop-small) {

          @include span(12 of 12 inside no-gutters);

          float: none;
        }
      }
    }
  }

  .section__title {
    line-height: 1.35em;

    font-size: 3.375em;
    font-family: $font-secondary;
    font-weight: $font-style-light;

    @include breakpoint($mobile) {

      font-size: 2.375em;
    }

    @include breakpoint($tablet) {

      font-size: 3.125em;
    }

    @include breakpoint($laptop) {

      font-size: 3.125em;
    }

    @include breakpoint($laptop-large) {

      font-size: 3em;
    }

    &-part {
      display: block;

      > span {

        &:first-child {
          line-height: 66px;

          vertical-align: top;
        }
      }

      &-variable {

        &:first-child {

          animation: change-title-part-1 12s ease infinite;
        }

        &:nth-child(2) {

          animation: change-title-part-2 12s ease infinite;
        }

        &:nth-child(3) {

          animation: change-title-part-3 12s ease infinite;
        }
      }

      &:last-child {

        .section__title-part-variable {
          animation-delay: 1s;

          &:nth-child(2),
          &:nth-child(3) {
            // Overlap bug due to animation delay when page appears in DOM
            @include transform(translateY(-70px));
          }
        }
      }

      &-container {
        width: 400px;
        height: 70px;

        display: inline-block;

        position: relative;

        overflow: hidden;

        vertical-align: top;

        @include breakpoint($mobile) {
          width: 100%;
          height: 48px;

          vertical-align: middle;
        }

        @include breakpoint($tablet) {
          width: 350px;
          height: 66px;
        }

        @include breakpoint($laptop-small) {
          width: 350px;
          height: 66px;
        }

        &:before,
        &:after {
          content: '';
          display: block;

          width: 100%;
          height: 6px;

          position: absolute;

          z-index: 1;
        }

        &:before {
          top: 0;

          // temp
          background: linear-gradient(to bottom, #fff 0%, rgba(255, 255, 255, 0) 100%);
        }

        &:after {
          bottom: 0;

          // temp
          background: linear-gradient(to top, #fff 0%, rgba(255, 255, 255, 0) 100%);
        }
      }

      &-variable {
        height: 100%;

        display: block;

        position: absolute;

        top: 0;

        line-height: 66px;

        color: $color-secondary;

        @include breakpoint($mobile) {

          line-height: 1.2em;
        }

        @include breakpoint($tablet-p) {

          line-height: 1.2em;
        }
      }
    }
  }

  .container {

    @include container;
  }

  .section__half {
    @include span(6 of 12 inside no-gutters);

    font-size: .938em;
    font-weight: $font-style-light;

    @include breakpoint($mobile) {

      @include span(12 of 12 inside no-gutters);
    }

    @include breakpoint($tablet-p) {

      @include span(12 of 12 inside no-gutters);
    }

    @include breakpoint($laptop-large) {

      font-size: .875em;
    }
  }

  .section__subtitle {
    line-height: 1.45em;

    font-size: 1.2em;
    font-weight: $font-style-medium;

    @include breakpoint($laptop-large) {

      line-height: 1.55em;
    }

    &_marker {
      position: relative;

      &:before {
        content: '+';
        display: block;

        position: absolute;

        left: -34px;

        line-height: 1.25em;

        font-size: 22px;
        font-weight: $font-style-regular;
        font-family: $font-secondary;

        @include breakpoint($mobile) {

          content: none;
        }

        @include breakpoint($laptop-large) {
          left: -31px;

          font-size: 20px;
        }
      }
    }

    &_reduced {
      display: block;

      font-size: .833em;
      font-weight: $font-style-light;
    }
  }

  .services-list {

    &__item {

      margin: .7em 0;
    }
  }

  .clients-list {
    margin-top: 1.1em;

    &__item {

      &:not(:last-child) {

        margin-bottom: .5em;
      }

      &:last-child {

        > .clients-list__link {

          text-transform: uppercase;
        }
      }
    }

    &__link {
      width: 150px;

      font-size: 1.2em;
      font-weight: $font-style-regular;
      color: $color-secondary;

      @include breakpoint($tablet-l) {
        margin: .3em 0;
      }
    }

    &__text {
      font-size: .933em;
      color: #c3c3c3;

      @include breakpoint($mobile-p) {

        display: block;
      }

      @include breakpoint($tablet-l) {

        display: block;
      }
    }
  }
}