/**
* Process structure styles
 */

// hover effects
.section-process {

  &.from-1 {
    .stage-glow.from-first {
      animation: appearance-disappearance 2s ease-out;

      &_under {

        animation: appearance-disappearance 1.25s ease-out .25s;
      }
    }

    .orbit.from-first {

      animation: from-first 1s ease .25s;
    }
  }

  &.from-2 {
    .stage-glow.from-second {
      animation: appearance-disappearance 2s ease-out;

      &_under {

        animation: appearance-disappearance 1.25s ease-out .25s;
      }
    }

    .orbit.from-second {

      animation: from-second 1s ease .25s;
    }

  }

  &.from-3 {
    .stage-glow.from-third {
      animation: appearance-disappearance 2s ease-out;

      &_under {

        animation: appearance-disappearance 1.25s ease-out .25s;
      }
    }

    .orbit.from-third {
      &_top {

        animation: from-third-top 1s ease .25s;
      }

      &_bottom {

        animation: from-third-bottom 1s ease .25s;
      }

    }
  }

  &.from-4 {
    .stage-glow.from-last {
      animation: appearance-disappearance 2s ease-out;

      &_under {

        animation: appearance-disappearance 1.25s ease-out .25s;
      }
    }

    .orbit.from-last {
      &_top {

        animation: from-last-top 1s ease .25s;
      }

      &_bottom {

        animation: from-last-bottom 1s ease .25s;
      }
    }
  }
}

.process-structure {
  $process-structure-height: 590px;

  width: 100%;
  max-width: 1920px;
  height: auto;
  max-height: $process-structure-height;

  position: absolute;

  top: 50%;
  right: 0;
  left: 0;

  margin: 0 auto;

  transform: translateY(-50%);

  z-index: $under-zindex;

  backface-visibility: hidden;

  will-change: transform;

  @include breakpoint($tablet-l) {
    top: auto;
    bottom: 0;
  }

  @include breakpoint($laptop-small) {
    top: auto;
    bottom: 0;
  }

  @include breakpoint($laptop-large) {
    width: 100vw;

    left: -11em;
  }

  .stage-glow {

    opacity: 0
  }

  .orbit {
    opacity: 0;

    backface-visibility: hidden;

    will-change: transform;

    &.from-first {

      transform: translate(-54px, -75px);
    }

    &.from-second {

      transform: translate(-150px, 240px) rotate(-17deg);
    }

    &.from-third {

      &_top {

        transform: matrix(-0.94, 0.342, -0.342, -0.94, 1937, 836);
      }

      &_bottom {

        transform: matrix(0.819, -0.574, 0.574, 0.819, -253, 550);
      }
    }

    &.from-last {

      &_top {

        transform: matrix(-0.07, -0.998, 0.998, -0.07, 970, 1138);
      }

      &_bottom {

        transform: matrix(-0.07, -0.998, 0.998, -0.07, 907, 1139);
      }
    }
  }
}
