/**
* Process structure styles
 */
.process-structure {
  width: 100%;
  height: auto;

  position: absolute;

  top: 50%;
  left: 0;

  margin-top: -15.75%;

  z-index: $under-zindex;

  &:hover {

    .stage-glow {

      animation: appearance-disappearance 1.75s ease-out;
    }

    .orbit {
      animation: appearance-disappearance 1s ease .25s;

      &.from-first {

        transform: translate(100px, 69px);
      }

      &.from-second {

        transform: translate(-109px, 303px) rotate(-17deg);
      }

      &.from-third {

        &_top {

          transform: matrix(-0.94, 0.342, -0.342, -0.94, 1807, 723);
        }

        &_bottom {

          transform: matrix(0.819, -0.574, 0.574, 0.819, -129, 642);
        }
      }

      &.from-last {

        &_top {

          transform: matrix(-0.07, -0.998, 0.998, -0.07, 1370, 1114);
        }

        &_bottom {

          transform: matrix(-0.07, -0.998, 0.998, -0.07, 1310, 1177);
        }
      }
    }
  }

  .stage-glow {

    opacity: 0;
  }

  .orbit {
    opacity: 0;

    transition: transform 1s ease .25s;

    &.from-second {

      transform: translate(-150px, 240px) rotate(-17deg);
    }

    &.from-third {

      &_top {

        transform: matrix(-0.94, 0.342, -0.342, -0.94, 1911.84, 816.661);
      }

      &_bottom {

        transform: matrix(0.819, -0.574, 0.574, 0.819, -224, 570);
      }
    }

    &.from-last {

      &_top {

        transform: matrix(-0.07, -0.998, 0.998, -0.07, 997, 1132);
      }

      &_bottom {

        transform: matrix(-0.07, -0.998, 0.998, -0.07, 1065, 1142);
      }
    }
  }
}