/**
* Process structure styles
 */
.transform-container {
  @include breakpoint($mobile) {
    height: 0;

    position: absolute;

    top: 0;
    bottom: 0;

    transform: rotate(90deg);

    z-index: $under-zindex;
  }
}

.process-structure {
  $process-structure-width: 1920px;
  $process-structure-height: 590px;

  width: 100%;
  max-width:$process-structure-width;
  height: auto;
  max-height: $process-structure-height;

  position: absolute;

  top: 50%;
  right: 0;
  left: 0;

  margin: 0 auto;

  transform: translateY(-50%);

  @include breakpoint($mobile) {
    width: $process-structure-width;

    left: -100px;

    margin-top: (-$process-structure-height / 2);

    transform: translateY(0);

    opacity: .55;
  }

  @include breakpoint($tablet-p) {

    opacity: .3;
  }

  @include breakpoint($tablet) {
    width: $process-structure-width;

    top: auto;
    left: 50%;
    bottom: 0;

    transform: translateY(4%);

    margin: 3em 0 0 (-$process-structure-width / 2 - 226px);
  }

  @include breakpoint($laptop-small) {
    width: $process-structure-width;

    top: auto;
    left: 50%;
    bottom: 0;

    transform: translateY(4%);

    margin: 3em 0 0 (-$process-structure-width / 2 - 226px);
  }

  @include breakpoint($laptop-large) {
    width: 100vw;

    left: -11em;
  }

  @include breakpoint($laptop-xl) {
    width: 100vw;

    left: -16%;
  }

  &:hover {

    .stage-glow {
      animation: appearance-disappearance 2s ease-out forwards;

      &_under {

        animation: appearance-disappearance 1.25s ease-out .25s forwards;
      }
    }

    .orbit {
      animation: appearance-disappearance 1s ease .25s;

      &.from-first {

        transform: translate(106px, 73px);
      }

      &.from-second {

        transform: translate(-95px, 324px) rotate(-17deg);
      }

      &.from-third {

        &_top {

          transform: matrix(-0.94, 0.342, -0.342, -0.94, 1780, 701);
        }

        &_bottom {

          transform: matrix(0.819, -0.574, 0.574, 0.819, -91, 658);
        }
      }

      &.from-last {

        &_top {

          transform: matrix(-0.07, -0.998, 0.998, -0.07, 1370, 1114);
        }

        &_bottom {

          transform: matrix(-0.07, -0.998, 0.998, -0.07, 1310, 1177);
        }
      }
    }
  }

  .stage-glow {
    opacity: 0;

    @include breakpoint($mobile) {

      opacity: 1;
    }

    @include breakpoint($tablet-p) {

      opacity: 1;
    }
  }

  .orbit {
    opacity: 0;

    transition: transform 1.25s ease .25s;

    &.from-first {

      transform: translate(-54px, -75px);
    }

    &.from-second {

      transform: translate(-150px, 240px) rotate(-17deg);
    }

    &.from-third {

      &_top {

        transform: matrix(-0.94, 0.342, -0.342, -0.94, 1937, 836);
      }

      &_bottom {

        transform: matrix(0.819, -0.574, 0.574, 0.819, -253, 550);
      }
    }

    &.from-last {

      &_top {

        transform: matrix(-0.07, -0.998, 0.998, -0.07, 970, 1138);
      }

      &_bottom {

        transform: matrix(-0.07, -0.998, 0.998, -0.07, 907, 1139);
      }
    }
  }
}