/**
* Process structure styles
 */
.process-structure {
  width: 100%;
  height: auto;

  position: absolute;

  top: 50%;
  left: 0;

  margin-top: -15.75%;

  z-index: $under-zindex;

  @include breakpoint($laptop-large) {
    width: 100vw;

    left: -11em;

    margin-top: -23%;
  }

  &:hover {

    .stage-glow {
      animation: appearance-disappearance 2s ease-out;

      &_under {

        animation: appearance-disappearance 1.25s ease-out .25s;
      }
    }

    .orbit {
      animation: appearance-disappearance 1s ease .25s;

      &.from-first {

        transform: translate(106px, 73px);
      }

      &.from-second {

        transform: translate(-95px, 324px) rotate(-17deg);
      }

      &.from-third {

        &_top {

          transform: matrix(-0.94, 0.342, -0.342, -0.94, 1780, 701);
        }

        &_bottom {

          transform: matrix(0.819, -0.574, 0.574, 0.819, -91, 658);
        }
      }

      &.from-last {

        &_top {

          transform: matrix(-0.07, -0.998, 0.998, -0.07, 1370, 1114);
        }

        &_bottom {

          transform: matrix(-0.07, -0.998, 0.998, -0.07, 1310, 1177);
        }
      }
    }
  }

  .stage-glow {

    opacity: 0;
  }

  .orbit {
    opacity: 0;

    transition: transform 1.25s ease .25s;

    &.from-first {

      transform: translate(-54px, -75px);
    }

    &.from-second {

      transform: translate(-150px, 240px) rotate(-17deg);
    }

    &.from-third {

      &_top {

        transform: matrix(-0.94, 0.342, -0.342, -0.94, 1937, 836);
      }

      &_bottom {

        transform: matrix(0.819, -0.574, 0.574, 0.819, -253, 550);
      }
    }

    &.from-last {

      &_top {

        transform: matrix(-0.07, -0.998, 0.998, -0.07, 970, 1138);
      }

      &_bottom {

        transform: matrix(-0.07, -0.998, 0.998, -0.07, 907, 1139);
      }
    }
  }
}