/*
* Aside nav styles
 */
.aside-nav {
  width: 50%;

  float: right;

  padding-left: .875em;

  > .stage {

    & + .stage {

      margin-top: 2.063em;
    }

    > .stage__number {

      font-size: 1.125em;
    }

    .stage__title {
      margin: .275em 0;

      font-size: .688em;
    }

    .marker {
      line-height: 1em;

      font-size: 1.125em;

      &:before {

        top: -2px;
      }
    }
  }
}