/**
* Stages styles
 */
$indent-large: 20.65em;
$indent-medium: 9.5em;

.stage,
.stages-group {
  @include span(3 of 12 inside no-gutters);
  
  > .stage {
    @include span(12 of 12 inside no-gutters);

    float: none;
  }
}

.stage {
  padding-left: 1em;

  cursor: pointer;

  &:hover {

    .stage__title {

      opacity: 1;
    }
  }

  &:nth-child(2) {

    margin-top: $indent-large;
  }

  &:nth-child(3) {

    margin-top: $indent-medium;
  }

  &-body {
    transition: transform .3s ease;

    &:hover {
      transform: translateX(24px);

      > .stage__detail {

        opacity: 1;
      }
    }
  }

  &__number {
    line-height: 1em;

    font-size: 3em;
    color: #C5D5E0;

    transition: color .3s ease, text-shadow .3s ease;

    &.glow {
      text-shadow: 2px 1px 7px rgba(255, 255, 255, .55);
      color: #fff;

      &.marker {

        &:before {

          text-shadow: none;
        }
      }
    }

    &.marker {

      &:before {

        left: -20px;
      }
    }
  }

  &__title {
    margin: .5em 0 .25em;

    opacity: .45;

    font-size: 1em;
    text-transform: uppercase;
    font-weight: $font-style-regular;
    color: $color-secondary;

    transition: opacity .3s ease;
  }

  &__description {
    white-space: nowrap;

    font-size: .8em;
  }

  &__detail {
    display: block;

    margin-top: .4em;

    opacity: 0;

    transition: opacity .3s ease;
  }
}

.stages-group {

  .stage {

    &:first-child,
    &:last-child {
      text-align: right;

      padding-right: 1em;
      padding-left: 0;

      > .stage__number {

        &.marker {

          &:before {
            right: -20px;
            left: auto;
          }
        }
      }
    }

    &:not(:last-child) {

      height: 0;
    }

    &:nth-child(2) {

      margin-top: $indent-medium;
    }

    &:last-child {

      margin-top: ($indent-large - $indent-medium);
    }
  }
}