/**
  Grid styles
 */
.grid {
  @include container;

  position: fixed;

  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  z-index: $under-zindex;

  > .grid__col {
    @include span(2 of 12 inside no-gutters);

    height: 100%;

    border-width: 0 0 0 1px;
    border-style: solid;
    border-color: #F7F2EA;

    &:last-child {

      border-width: 0 1px;
    }
  }
}