/**
  Grid styles
 */
body.loaded {

  .grid {
    z-index: $under-zindex;

    > .grid__col {

      &:after,
      > .booting-indicator {

        display: none;
      }
    }
  }
}

.grid {
  @include container;

  position: fixed;

  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  z-index: (map-get($zindex, preloader) - 1);

  > .grid__col {
    @include span(2 of 12 inside no-gutters);
    height: 100%;

    position: relative;

    border-width: 0 0 0 1px;
    border-style: solid;
    border-color: #F8F4EE;

    &:before,
    &:after {
      content: '';
      display: block;

      width: 1px;
      height: 0;

      position: absolute;

      top: 0;

      background-color: #fff;

      @include animation(to-top 8s ease);
    }

    &:before {

      left: -1px;
    }

    &:last-child {
      border-width: 0 1px;

      &:after {

        right: -1px;
      }
    }

    .booting-indicator {
      width: 1px;
      height: 100%;

      position: absolute;

      top: 0;
      left: -1px;

      background-color: rgba(195, 195, 195, .8);

      @include animation(to-bottom 8s ease);

      z-index: 1;
    }
  }
}