/**
  Grid styles
 */
body.loaded {

  .grid {
    z-index: $under-zindex;

    > .grid__col {

      &:after,
      > .booting-indicator {

        @include animation(preloader-disappearing 3s ease 2s);

        -webkit-animation-fill-mode: forwards;
        -moz-animation-fill-mode: forwards;
        -o-animation-fill-mode: forwards;
        animation-fill-mode: forwards;
      }
    }
  }
}

.grid {
  @include container;

  position: fixed;

  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  z-index: (map-get($zindex, preloader) - 1);

  @include breakpoint($mobile-p) {

    padding: 0 1.875em;
  }

  @include breakpoint($mobile-l) {

    padding: 0 4.5em;
  }

  @include breakpoint($tablet) {

    padding: 0 5.375em;
  }

  @include breakpoint($laptop) {

    padding: 0 7.25em;
  }

  @include breakpoint($laptop-large) {
    margin: 0 7.25em;
    padding: 0;
  }

  > .grid__col {
    @include span(2 of 12 inside no-gutters);
    height: 100%;

    position: relative;

    border-width: 0 0 0 1px;
    border-style: solid;
    border-color: #F8F4EE;

    @include breakpoint($mobile-p) {

      @include span(4 of 12 inside no-gutters);
    }

    @include breakpoint($mobile-l) {

      @include span(3 of 12 inside no-gutters);
    }

    @include breakpoint($tablet-p) {

      @include span(6 of 12 inside no-gutters);
    }

    @include breakpoint($tablet-l) {

      @include span(3 of 12 inside no-gutters);
    }

    @include breakpoint($laptop-small) {

      @include span(3 of 12 inside no-gutters);
    }

    &:nth-child(2) {

      @include breakpoint($tablet-p) {

        border-width: 0 1px;

        &:after {

          right: -1px;
        }
      }
    }

    &:nth-child(3) {

      @include breakpoint($mobile-p) {

        border-width: 0 1px;

        &:after {

          right: -1px;
        }
      }
    }

    &:nth-child(4) {

      @include breakpoint($mobile-l) {

        border-width: 0 1px;

        &:after {

          right: -1px;
        }
      }

      @include breakpoint($tablet-l) {

        border-width: 0 1px;

        &:after {

          right: -1px;
        }
      }

      @include breakpoint($laptop-small) {

        border-width: 0 1px;

        &:after {

          right: -1px;
        }
      }
    }

    &:before,
    &:after {
      content: '';
      display: block;

      width: 1px;
      height: 0;

      position: absolute;

      top: 0;

      background-color: #fff;

      @include animation(to-top 8s ease);
    }

    &:before {

      left: -1px;
    }

    &:last-child {
      border-width: 0 1px;

      &:after {

        right: -1px;
      }
    }

    .booting-indicator {
      width: 1px;
      height: 100%;

      position: absolute;

      top: 0;
      left: -1px;

      background-color: rgba(195, 195, 195, .8);

      @include animation(to-bottom 8s ease);

      z-index: 1;

      @include breakpoint($mobile-tablet) {

        display: none;
      }

      @include breakpoint($laptop-small) {

        display: none;
      }

      &.touch-only {
        display: none;

        @include breakpoint($mobile-tablet) {

          display: block;
        }

        @include breakpoint($laptop-small) {

          display: block;
        }
      }
    }
  }
}