/**
  Grid styles
 */

body.loaded {

  .grid {
    pointer-events: none;

    z-index: auto;

    @include breakpoint($laptop-small) {
      @include animation(add-scroll .01s ease 3.99s);
      @include animation-fill-mode(forwards);
    }

    @include breakpoint($laptop-medium) {
      @include animation(add-scroll .01s ease 3.99s);
      @include animation-fill-mode(forwards);
    }

    &__col {

      &_decor {
        border-color: rgba(244, 244, 244, .04);

        > .grow-element {
          pointer-events: none;
          opacity: 0;

          top: 0;
          bottom: 0;

          @include transition(opacity 3s ease 2s, top 1s linear 1.25s, bottom 1s linear 1.25s);
        }
      }

      &.touch-only + .grid__col {

        @include breakpoint($tablet-l) {
          border-color: rgba(244, 244, 244, .04);

          @include transition(opacity 3s ease);
          @include transition-delay(2s);
        }

        @include breakpoint($laptop-small) {
          border-color: rgba(244, 244, 244, .04);

          @include transition(opacity 3s ease);
          @include transition-delay(2s);
        }
      }
    }
  }
}

.grid {
  @include container;

  position: fixed;

  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  z-index: (map-get($zindex, preloader) - 1);

  @include animation(appearance 1.25s ease);

  @include breakpoint($mobile-p) {

    padding: 0 1.875em;
  }

  @include breakpoint($mobile-l) {

    padding: 0 4.5em;
  }

  @include breakpoint($tablet) {

    padding: 0 5.375em;
  }

  @include breakpoint($laptop) {

    padding: 0 7.25em;
  }

  @include breakpoint($laptop-large) {
    margin: 0 11em;
    padding: 0;
  }

  &__col {
    @include span(2 of 12 inside no-gutters);
    height: 100%;

    position: relative;

    border-width: 0 0 0 1px;
    border-style: solid;
    border-color: rgba(244, 244, 244, .04);

    opacity: .8;

    @include breakpoint($mobile) {

      @include span(4 of 12 inside no-gutters);
    }

    @include breakpoint($tablet-p) {

      @include span(6 of 12 inside no-gutters);
    }

    @include breakpoint($tablet-l) {

      @include span(3 of 12 inside no-gutters);
    }

    @include breakpoint($laptop-small) {

      @include span(3 of 12 inside no-gutters);
    }

    &:nth-child(2) {

      @include breakpoint($tablet-p) {

        border-width: 0 1px;

        > .grow-item-right {

          right: -1px;
        }
      }
    }

    &:nth-child(3) {

      @include breakpoint($mobile) {

        border-width: 0 1px;

        > .grow-item-right {

          right: -1px;
        }
      }
    }

    &:nth-child(4) {

      @include breakpoint($tablet-l) {

        border-width: 0 1px;

        > .grow-item-right {

          right: -1px;
        }
      }

      @include breakpoint($laptop-small) {

        border-width: 0 1px;

        > .grow-item-right {

          right: -1px;
        }
      }
    }

    &:last-child {
      border-width: 0 1px;

      > .grow-item-right {

        right: -1px;
      }
    }

    &_decor {
      $glow-width: 26px;
      $glow-height: 180px;

      border-color: transparent;

      @include breakpoint($tablet) {

        border-color: rgba(244, 244, 244, .04);
      }

      @include breakpoint($laptop-small) {

        border-color: rgba(244, 244, 244, .04);
      }

      > .grow-element {
        position: absolute;

        width: 1px;

        left: 0;

        background: linear-gradient(to top, rgba(58, 153, 186, 0) 0%, rgba(58, 153, 186, .5) 50%, rgba(58, 153, 186, 0) 100%);

        @include transition(opacity 3s ease 2s, top 1s linear, bottom 1s linear);

        @include breakpoint($mobile) {

          content: none;
        }

        @include breakpoint($tablet-l) {

          content: none;
        }

        @include breakpoint($laptop-small) {

          content: none;
        }
      }

      &.touch-only {
        border-left: 1px solid rgba(244, 244, 244, .04);

        @include breakpoint($tablet-p) {

          border-left-color: transparent;
        }

        > .grow-element {

          display: none;

          @include breakpoint($mobile-tablet) {

            display: block;
          }

          @include breakpoint($tablet-l) {

            right: 0;
            left: auto;
          }

          @include breakpoint($laptop-small) {
            display: block;

            right: 0;
            left: auto;
          }
        }

        & + .grid__col {

          @include breakpoint($tablet-l) {

            border-color: transparent;
          }

          @include breakpoint($laptop-small) {

            border-color: transparent;
          }
        }
      }
    }
  }
}