/**
  Projects chronology styles
 */
.prj-chronology {
  $division-width: 11%;
  $divisions-numder: 6;

  @include container;

  position: relative;

  margin-top: 8em;
  padding: 3em 0;

  @include breakpoint($tablet-l) {

    margin-top: 7em;
  }

  @include breakpoint($laptop-large) {

    margin-top: 5.5em;
  }

  &__item {
    @include span (2 of 12 inside no-gutters);

    position: relative;

    font-size: 0;

    @include breakpoint($tablet) {

      @include span (3 of 12 inside no-gutters);
    }

    @include breakpoint($laptop-small) {

      @include span (3 of 12 inside no-gutters);
    }

    &:before,
    &:after {
      content: '';
      display: block;

      width: 1px;
      height: 12px;

      position: absolute;

      top: 0;

      background-color: rgba(120, 142, 157, .53);
    }

    &:before {
      content: none;

      left: 0;
    }

    &:after {

      right: -1px;
    }

    &:first-child {

      &:before {

        content: '';
      }
    }

    &:last-child {

      &:after {

        right: 0;
      }
    }
  }

  &__div {
    $empty-div-height: 3px;

    display: inline-block;

    position: relative;

    vertical-align: middle;

    background-color: transparent;

    font-size: 11px;

    &-outer,
    &-outer:before,
    &-outer:after {
      width: 1px;
      height: 3px;

      position: absolute;

      background-color: rgba(120, 142, 157, .53);
    }

    &-outer {
      top: calc(50% - 1px);

      @include breakpoint($tablet-laptop) {

        display: none;
      }

      &:before,
      &:after {
        content: '';
        display: block;

        bottom: 0;
      }

      &_left,
      &_right {

        &:before {

          left: -20px;
        }

        &:after {

          left: 20px;
        }
      }

      &_left {

        left: -40px;
      }

      &_right {

        right: -40px;
      }
    }

    &_left-indent {

      margin-left: calc(11% - 6px);
    }

    &_right-indent {

      margin-right: calc(11% - 6px);
    }

    &_wide {
      width: (100% - $division-width * $divisions-numder);
      height: auto;

      line-height: 12px;

      margin-right: 0;
      margin-left: 0;

      vertical-align: middle;
      text-align: center;

      background-color: transparent;

      color: rgba(187, 206, 217, .97);

      font-weight: $font-style-regular;
    }

    &:not(&_wide) {
      width: 6px;
      height: 6px;

      position: relative;

      &:before,
      &:after {
        content: '';
        display: block;

        position: absolute;

        @include transition(width .3s ease,
                height .3s ease,
                opacity .3s ease,
                background-color .3s ease,
                border-radius .3s ease);
      }

      &:after {
        content: '';
        display: block;

        width: 1px;
        height: $empty-div-height;

        right: 0;
        left: 0;

        margin: auto;

        background-color: rgba(149, 152, 154, .53);
      }

      &:not(.is-filled) {

        &:after {
          top: 50%;

          margin-top: (-$empty-div-height / 2);
        }
      }

      &.is-filled {
        cursor: pointer;

        &:before {
          width: 400%;
          height: 400%;

          top: 50%;
          left: 50%;
          margin-top: -200%;
          margin-left: -200%;

          border-radius: 50%;

          border: 1px solid rgba(206, 206, 206, .21);

          -webkit-filter: blur(2px);
          filter: blur(2px);

          @include animation(pulse-ring 2s cubic-bezier(.215, .61, .355, 1) infinite);

          @include transition(border-color .3s ease);
        }

        &:after {
          width: 100%;
          height: 100%;

          border-radius: 50%;

          background-color: rgb(19, 151, 199);

          @include transition(background-color .3s ease);
        }

        &:hover,
        &.is-active {

          &:before {

            border-color: #fff;
          }

          &:after {

            background-color: #fff;
          }
        }

        &.is-active {
          @include transform(scale(1.5));

          > .prj-chronology__div-glow {

            opacity: 1;
          }
        }
      }
    }
  }

  &__div-glow {
    $glow-size: 13px;

    width: $glow-size;
    height: $glow-size;

    position: absolute;

    top: 50%;
    left: 50%;

    margin: (-$glow-size / 2) 0 0 (-$glow-size / 2);

    border-radius: 50%;

    background-color: rgba(206, 206, 206, 0.21);

    opacity: 0;

    -webkit-filter: blur(2px);
    filter: blur(2px);

    @include transition(opacity .3s ease);
  }
}