/**
  Projects chronology styles
 */
.prj-chronology {
  $division-width: 11%;
  $divisions-numder: 6;

  @include container;

  position: relative;

  margin-top: 8em;
  padding: 3em 0;

  @include breakpoint($mobile) {

    display: none;
  }

  @include breakpoint($tablet-p) {

    display: none;
  }

  &__item {
    @include span (2 of 12 inside no-gutters);

    position: relative;

    font-size: 0;

    @include breakpoint($tablet) {

      @include span (3 of 12 inside no-gutters);
    }

    @include breakpoint($laptop-small) {

      @include span (3 of 12 inside no-gutters);
    }

    &:before,
    &:after {
      content: '';
      display: block;

      width: 1px;
      height: 12px;

      position: absolute;

      top: 1px;

      background-color: rgba(149, 152, 154, .53);
    }

    &:before {
      content: none;

      left: 0;
    }

    &:after {

      right: -1px;
    }

    &:first-child {

      &:before {

        content: '';
      }
    }

    &:last-child {

      &:after {

        right: 0;
      }
    }
  }

  &__div {
    display: inline-block;

    font-size: 11px;

    &-outer,
    &-outer:before,
    &-outer:after {
      width: 1px;
      height: 3px;

      position: absolute;

      background-color: rgba(149, 152, 154, .53);
    }

    &-outer {
      top: calc(50% + 2px);

      @include breakpoint($tablet-laptop) {

        display: none;
      }

      &:before,
      &:after {
        content: '';
        display: block;

        bottom: 0;
      }

      &_left,
      &_right {

        &:before {

          left: -20px;
        }

        &:after {

          left: 20px;
        }
      }

      &_left {

        left: -40px;
      }

      &_right {

        right: -40px;
      }
    }

    &_left-indent {

      margin-left: calc(11% - 6px);
    }

    &_right-indent {

      margin-right: calc(11% - 6px);
    }

    &_wide {
      width: (100% - $division-width * $divisions-numder);
      height: auto;

      margin-right: 0;
      margin-left: 0;

      text-align: center;

      background-color: transparent;

      font-weight: $font-style-regular;
    }

    &:not(&_wide) {
      width: 6px;
      height: 6px;

      position: relative;

      &:before,
      &:after {
        content: '';
        display: block;

        position: absolute;
      }

      &:after {
        content: '';
        display: block;

        width: 1px;
        height: 3px;

        right: 0;
        bottom: 0;
        left: 0;

        margin: auto;

        background-color: rgba(149, 152, 154, .53);

        @include transition(height .3s ease);
      }

      &:not(.is-filled) {

        &:after {

          bottom: -1px;
        }
      }

      &.is-filled {
        cursor: pointer;

        &:before {
          width: 200%;
          height: 200%;

          top: 50%;
          left: 50%;

          margin-left: -100%;
          margin-top: -100%;

          border-radius: 50%;

          background-color: rgba(0, 0, 0, .5);

          @include animation(pulse-ring 2s cubic-bezier(.215, .61, .355, 1) infinite);
        }

        &:after {
          width: 100%;
          height: 100%;

          border-radius: 50%;

          background-color: $color-secondary;
        }
      }
    }

    &.is-active {

      &:after {

        height: 12px;
      }
    }
  }
}