/**
* Map styles
 */
.map-container {
  width: 657px;
  height: 646px;

  position: absolute;

  top: 0;
  right: -330px;
  bottom: 0;

  margin: auto;

  background-image: url('images/map.svg');

  pointer-events: none;

  z-index: 1;

  &:before,
  &:after {
    content: '';
    display: block;

    position: absolute;

    z-index: $under-zindex;
  }

  &:before {
    width: 587px;
    height: 308px;

    top: 0;
    right: 0;

    background: url('images/map-glow1.svg') no-repeat;

    opacity: .57;

    -webkit-filter: blur(50px);
    filter: blur(50px);
  }

  &:after {
    width: 587px;
    height: 308px;

    top: 0;
    right: 0;

    //background: url('images/map-glow2.svg') no-repeat;

    opacity: .64;

    -webkit-filter: blur(26px);
    filter: blur(26px);
  }

  .slider {
    top: 50%;
    left: 50%;

    margin: -150px 0 0 -148px;

    .slider__dot {
      width: 9px;
      height: 9px;

      position: absolute;

      top: 0;
      right: 0;
      bottom: 0;
      left: 0;

      margin: auto;

      border-radius: 50%;

      background-color: #fff;

      &:before,
      &:after {
        content: '';
        display: block;

        position: absolute;

        border-radius: 50%;
      }

      &:before {
        width: 400%;
        height: 400%;

        top: 50%;
        left: 50%;

        margin-top: -200%;
        margin-left: -200%;

        border: 1px solid #fff;

        @include animation(pulse-ring 2s cubic-bezier(0.215, 0.61, 0.355, 1) infinite);

        -webkit-filter: blur(2px);
        filter: blur(2px);
      }

      &:after {
        $glow-size: 17px;

        width: $glow-size;
        height: $glow-size;

        @include transform(scale(1.5));

        top: 50%;
        left: 50%;

        margin: (-$glow-size / 2) 0 0 (-$glow-size / 2);

        border-radius: 50%;
        border: 1px solid rgba(83, 86, 119, .1);

        background-color: rgba(206, 206, 206, 0.08);

        @include transition(opacity .3s ease);
      }
    }

    &__description {
      right: 55px;
      left: auto;

      text-align: right;
    }

    &__location {
      font-size: 1.125em;
      color: #1397C7;
    }

    &__coordinates {
      margin-top: .5em;

      white-space: nowrap;

      font-size: .875em;
    }
  }
}