/**
* Map styles
 */
.ReactModal__Body--open {

  .map-container {

    > .slider {

      opacity: 0;
    }
  }
}

.map-container {
  width: 657px;
  height: 646px;

  position: absolute;

  top: 50%;
  right: -330px;

  transform: translateY(-50%);

  margin: 1.7em auto 0;
  
  @include breakpoint($mobile) {
    right: 0;
    left: 0;

    pointer-events: none;

    z-index: $under-zindex;
  }

  @include breakpoint($mobile-l) {

    margin: 11.5em auto 0;
  }

  @include breakpoint($tablet) {

    transform: translateY(0);
  }

  @include breakpoint($tablet-p) {
    top: 34%;
    right: 0;
    left: 24px;

    transform: translateY(0);

    margin: 0 auto;
  }

  @include breakpoint($tablet-l) {
    top: 13%;
    right: -136px;

    margin: .9em auto 0;
  }

  @include breakpoint($laptop-small) {
    top: 13%;
    right: -136px;

    transform: translateY(0);
  }

  @include breakpoint($laptop-medium) {
    right: -288px;

    margin: -3.5em auto 0;
  }

  @include breakpoint($laptop-large) {
    right: -356px;

    margin: 2.1em auto 0;
  }

  @include breakpoint($square) {

    margin: -2.5em auto 0;
  }

  > svg {
    position: absolute;

    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
}