/**
  Map styles
 */
.map-container {
  width: calc(100% / 3 - 100px);
  height: 100%;

  position: absolute;

  top: 0;
  right: 0;

  pointer-events: none;

  z-index: $under-zindex;

  @include breakpoint($mobile-tablet) {
    width: auto;

    position: relative;
  }

  @include breakpoint($mobile) {

    height: 260px;
  }

  @include breakpoint($mobile-p) {

    margin: 0 -1.875em;
  }

  @include breakpoint($mobile-l) {

    margin: 0 -4.5em;
  }

  @include breakpoint($tablet) {

    margin: 0 -5.375em;
  }

  @include breakpoint($tablet-p) {

    height: 350px;
  }

  @include breakpoint($tablet-l) {

    height: 270px;
  }

  @include breakpoint($laptop-small) {
    width: auto;
    height: 270px;

    position: relative;

    margin: 0 -7.25em;
  }

  /*Hide default UI*/
  .gm-style {
    > div:not([tabindex = "0"]) {

      display: none !important;
    }
  }

}