/**
* Map styles
 */
.ReactModal__Body--open {

  .map-container {

    > .slider {

      opacity: 0;
    }
  }
}

.map-container {
  width: 657px;
  height: 646px;

  position: absolute;

  top: 50%;
  right: -330px;

  @include transform(translateY(-50%));

  margin: 1.7em auto 0;

  pointer-events: none;

  z-index: $under-zindex;

  @include breakpoint($mobile) {
    right: 0;
    left: 0;
  }

  @include breakpoint($tablet) {

    @include transform(translateY(0));
  }

  @include breakpoint($tablet-p) {
    top: 34%;
    right: 0;
    left: 24px;

    @include transform(translateY(0));

    margin: 0 auto;
  }

  @include breakpoint($tablet-l) {
    top: 13%;
    right: -136px;

    margin: .9em auto 0;
  }

  @include breakpoint($laptop-small) {
    top: 13%;
    right: -136px;

    @include transform(translateY(0));
  }

  @include breakpoint($laptop-medium) {
    right: -310px;

    margin: -3.5em auto 0;
  }

  @include breakpoint($laptop-large) {
    right: -356px;

    margin: 2.1em auto 0;
  }

  @include breakpoint($square) {

    margin: -2.5em auto 0;
  }

  > svg {
    position: absolute;

    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  .slider {
    top: 50%;
    left: 50%;

    margin: -150px 0 0 -148px;

    @include transition(opacity .3s ease);

    @include breakpoint($mobile) {

      display: none;
    }

    .slider__dot {
      width: 9px;
      height: 9px;

      position: absolute;

      top: 0;
      right: 0;
      bottom: 0;
      left: 0;

      margin: auto;

      border-radius: 50%;

      background-color: #fff;

      box-shadow: 0 0 1px 0 #fff;

      &:before,
      &:after {
        content: '';
        display: block;

        position: absolute;

        border-radius: 50%;
      }

      &:before {
        width: 400%;
        height: 400%;

        top: 50%;
        left: 50%;
        margin-top: -200%;
        margin-left: -200%;

        border-radius: 50%;

        border: 1px solid rgb(206, 206, 206);

        -webkit-filter: blur(1px);
        filter: blur(1px);

        @include animation(pulse-ring 2s cubic-bezier(.215, .61, .355, 1) infinite);
      }

      &:after {
        $glow-size: 15px;

        width: $glow-size;
        height: $glow-size;

        top: 50%;
        left: 50%;

        margin: (-$glow-size / 2) 0 0 (-$glow-size / 2);

        border-radius: 50%;
        border: 1px solid #fff;

        background: #fff;

        -webkit-filter: blur(3px);
        filter: blur(3px);

        opacity: .75;

        @include transition(opacity .3s ease);

        z-index: $under-zindex;
      }
    }

    &__description {
      right: 55px;
      left: auto;

      text-align: right;
    }

    &__location {
      font-size: 1.125em;
      color: #1397C7;
    }

    &__coordinates {
      margin-top: .5em;

      white-space: nowrap;

      font-size: .875em;
    }
  }
}