/**
* Section gradients styles
 */
.section-gradient {
  position: absolute;

  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  pointer-events: none;

  z-index: $under-zindex;

  &:before,
  &:after {
    content: '';
    display: block;

    position: absolute;

    border-radius: 50%;
  }

  &.section-main {
    background: linear-gradient(33deg, #330E1F 0%, #031C3C 100%);

    &:before {
      width: 990px;
      height: 478px;

      top: -300px;
      right: -50px;

      opacity: .05;
      background: radial-gradient(ellipse at center, #208BC2 0%, rgba(34, 102, 143, .2) 50%, #24405A 100%);
    }

    &:after {
      width: 708px;
      height: 448px;

      bottom: -300px;
      right: 180px;

      opacity: .73;
      background: radial-gradient(ellipse at center,  #302334 0%, rgba(87, 14, 79, 0) 70%, rgba(3, 28, 60, 0) 100%);
    }
  }

  &.section-process {
    background: linear-gradient(123deg, #330E1F 0%, #031C3C 100%);

    &:before {
      width: 708px;
      height: 448px;

      top: (-448px + 300px);
      right: 180px;

      opacity: .73;

      background: radial-gradient(ellipse at center,  #302334 0%, rgba(87, 14, 79, 0) 70%, rgba(3, 28, 60, 0) 100%);
    }
  }
}