/**
* Section gradients styles
 */
.loaded {

  .section-gradient {

    opacity: 1;
  }
}

.section-gradient {
  overflow: hidden;

  position: fixed;

  right: 0;
  bottom: 0;
  left: 0;

  // iOS bottom panel bug fix
  top: -70px;
  transform: translateY(70px);
  padding-bottom: 70px;

  background: -webkit-linear-gradient(33deg, #330E1F 15%, #031C3C 70%, #031C3C 100%);
  background: -moz-linear-gradient(33deg, #330E1F 15%, #031C3C 70%, #031C3C 100%);
  background: -o-linear-gradient(33deg, #330E1F 15%, #031C3C 70%, #031C3C 100%);
  background: -ms-linear-gradient(33deg, #330E1F 15%, #031C3C 70%, #031C3C 100%);
  background: linear-gradient(33deg, #330E1F 15%, #031C3C 70%, #031C3C 100%);

  pointer-events: none;

  opacity: 0;

  z-index: $under-zindex;

  transition: opacity 3s ease 4s;
}