/**
  Global styles
 */
html,
body {

  overflow-x: hidden;
}

body {
  font: 16px $font-primary;
  color: $color-primary;

  h1, h2, h3, h4, h5, h6, p {

    margin: 0;
  }

  a {

    display: inline-block;
  }
}

html,
body,
#content-overlay,
#content,
.translate-container,
.section {

  height: 100%;
}

.translate-container {

  overflow: hidden;

  &.up {
    > .section {

      &.translateY-enter {
        @include transform(translate3d(0, 100%, 0));

        &-active {
          @include transition(transform .5s ease .001s);

          @include transform(translate3d(0, 0, 0));
        }
      }

      &.translateY-exit {
        @include transform(translate3d(0, -100%, 0));

        &-active {
          @include transition(transform .5s ease .001s);

          @include transform(translate3d(0, -200%, 0));
        }
      }
    }
  }

  &.down {
    > .section {
      &.translateY-enter {
        @include transform(translate3d(0, -100%, 0));

        &-active {
          @include transition(transform .5s ease .001s);

          @include transform(translate3d(0, 0, 0));
        }
      }

      &.translateY-exit {
        @include transform(translate3d(0, -100%, 0));
        &-active {
          @include transition(transform .5s ease .001s);

          @include transform(translate3d(0, 0, 0));
        }
      }
    }
  }

  > .section {
    overflow: hidden;
  }
}