/**
  Global styles
 */
html, body {

  overflow-x: hidden;
}

body {
  font: 16px $font-primary;
  color: $color-primary;

  h1, h2, h3, h4, h5, h6, p {

    margin: 0;
  }

  a {

    display: inline-block;
  }
}

.translate-container {
  padding: 0 1.5em;

  @include breakpoint($mobile) {

    padding: 0;
  }

  @include breakpoint($tablet) {

    padding: 0;
  }

  @include breakpoint($laptop-medium) {

    padding: 0;
  }

  @include breakpoint($laptop-large) {
    max-width: 69em;

    margin: auto;
    padding: 0;
  }
}
