/**
  Global styles
 */
html, body {

  overflow-x: hidden;
}

body {
  font: 16px $font-primary;
  color: $color-primary;

  &.loaded {

    #content-overlay {

      opacity: 1;
    }
  }

  h1, h2, h3, h4, h5, h6, p {

    margin: 0;
  }

  a {

    display: inline-block;
  }
}

#content-overlay {

  opacity: 0;
}


