/**
  Global styles
 */
html,
body {

  overflow-x: hidden;
}

body {
  font: 16px $font-primary;
  color: $color-primary;

  h1, h2, h3, h4, h5, h6, p {

    margin: 0;
  }

  a {

    display: inline-block;
  }
}

html,
body,
#content-overlay,
#content,
.translate-container,
.section {

  height: 100%;
}

.translate-container {

  overflow: hidden;
}

.section {
  @include transition(transform .5s ease, opacity .5s ease);

  overflow: hidden;

  &.translateY-enter {
    @include transform(translate3d(0, 100%, 0));

    opacity: 1;

    &-active {
      @include transform(translate3d(0, 0, 0));

      opacity: 1;
    }
  }

  &.translateY-exit {
    @include transform(translate3d(0, 0, 0));

    opacity: 1;

    &-active {
      @include transform(translate3d(0, 100%, 0));

      opacity: 1;
    }
  }
}