/**
  Global styles
 */

html,
body {
  overflow-x: hidden;
  overflow-y: hidden;

  @include breakpoint($mobile) {

    overflow-y: visible;
  }

  @include breakpoint($tablet-laptop) {

    overflow-y: visible;
  }

  @include breakpoint($laptop-medium) {

    overflow-y: visible;
  }

  @include breakpoint($laptop-small) {

    overflow-y: visible;
  }

  @include breakpoint($laptop-small) {
    // Double vertical scroll bug fix
    overflow-x: visible;
  }
}

body {
  font: 16px $font-primary;
  color: $color-primary;

  #content-overlay {
    position: fixed;

    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    opacity: 0;

    @include transition(opacity 1s ease 4s);
  }

  &.loaded {

    #content-overlay {
      position: static;
      opacity: 1;
    }
  }

  &.ReactModal__Body--open {
    //overflow: hidden;
    //
    //position: fixed;
    //
    //top: 0;
    //right: 0;
    //bottom: 0;
    //left: 0;

    #content-overlay {
      pointer-events: none;
    }
  }

  h1, h2, h3, h4, h5, h6, p {

    margin: 0;
  }

  a {

    display: inline-block;
  }
}

html,
body,
#content-overlay,
#content,
.translate-container,
.section {
  height: 100%;

  @include breakpoint($mobile) {

    height: auto;
  }

  @include breakpoint($tablet-laptop) {

    height: auto;
  }

}

.translate-container {

  @include breakpoint($laptop-large) {

    padding: 0 11em;
  }

  > .section {
    will-change: transform;

    @include backface-visibility(hidden);
  }

  &.up {
    > .section {

      &.translateY-enter {
        @include transform(translate3d(0, 100%, 0));

        &-active {
          @include transition(transform .5s ease .001s);

          @include transform(translate3d(0, 0, 0));
        }
      }

      &.translateY-exit {
        @include transform(translate3d(0, -100%, 0));

        &-active {
          @include transition(transform .5s ease .001s);

          @include transform(translate3d(0, -200%, 0));
        }
      }
    }
  }

  &.down {
    > .section {
      &.translateY-enter {
        @include transform(translate3d(0, -100%, 0));

        &-active {
          @include transition(transform .5s ease .001s);

          @include transform(translate3d(0, 0, 0));
        }
      }

      &.translateY-exit {
        @include transform(translate3d(0, -100%, 0));
        &-active {
          @include transition(transform .5s ease .001s);

          @include transform(translate3d(0, 0, 0));
        }
      }
    }
  }

  .section {

    > .align-container {
      @include clearfix;

      position: relative;

      top: 50%;

      @include transform(translateY(-50%));

      @include breakpoint($mobile) {
        top: auto;

        @include transform(translateY(0));
      }

      @include breakpoint($tablet-laptop) {
        top: auto;

        @include transform(translateY(0));
      }
    }
  }
}

.scroll-container {
  @include container;

  .section {

    > .align-container {

      @include clearfix;
    }

    @include breakpoint($mobile-p) {

      padding: 6.4em 1.875em 0;
    }

    @include breakpoint($mobile-l) {

      padding: 6.4em 4.5em 0;
    }

    @include breakpoint($tablet) {

      padding: 6.8em 5.375em 0;
    }

    @include breakpoint($laptop) {

      padding: 6.4em 7.25em;
    }

    @include breakpoint($laptop-small) {

      padding: 6.8em 7.25em 0;
    }

  }
}

.slide-to-side-wrap {
  overflow: hidden;
}

// animation classes
.slide-to-left {
  will-change: transform3d;
  @include backface-visibility(hidden);

  @include animation(slide-to-left 2s ease forwards);

  &.slow-opacity {
    @include animation(slide-to-left-slow-opacity 1.5s ease-in-out forwards);
  }
}


