/**
* Global styles
 */
body {
  overflow-x: hidden;
  overflow-y: hidden;

  -webkit-overflow-scrolling: touch;

  background-color: #1A1735;

  font: 16px $font-primary;
  color: $color-primary;

  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;

  &:not(.ReactModal__Body--open) {

    @include breakpoint($mobile) {

      overflow-y: auto;
    }

    @include breakpoint($tablet-laptop) {

      overflow-y: auto;
    }

    @include breakpoint($laptop-not-large-no-height) {

      overflow-y: auto;
    }
  }

  h1, h2, h3, h4, h5, h6, p, span, a {

    -webkit-font-smoothing: antialiased;
  }

  #content-overlay {
    position: fixed;

    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    opacity: 0;

    transition: opacity 1s ease 4s;
  }

  &.loaded {

    #content-overlay {
      position: static;
      opacity: 1;
    }
  }

  h1, h2, h3, h4, h5, h6, p {

    margin: 0;
  }

  a {

    display: inline-block;
  }
}

html,
body,
#content-overlay,
#content,
.translate-container,
.section {
  height: 100%;

  @include breakpoint($mobile) {

    height: auto;
  }

  @include breakpoint($tablet-laptop) {

    height: auto;
  }

  @include breakpoint($laptop-not-large-no-height) {

    height: auto;
  }
}

.translate-container {
  position: relative;

  @include breakpoint($laptop-large) {

    padding: 0 11em;
  }

  @include breakpoint($laptop-xl) {

    padding: 0 12%;
  }

  &:before,
  &:after {
    content: '';
    display: block;

    width: 198px;
    height: 100%;

    position: absolute;

    top: 0;

    pointer-events: none;
  }

  &:before {
    left: 0;

    background: linear-gradient(to right, rgba(0, 0, 0, .25) 0%, rgba(0, 0, 0, 0) 100%);
  }

  &:after {
    right: 0;

    background: linear-gradient(to left, rgba(0, 0, 0, .25) 0%, rgba(0, 0, 0, 0) 100%);
  }

  > .section {
    will-change: transform;

    backface-visibility: hidden;
  }

  &.up {

    > .section {

      &.translateY-enter {
        transform: translate3d(0, 100%, 0);

        &-active {
          transition: transform .5s ease .001s;

          transform: none;
        }
      }

      &.translateY-exit {
        transform: translate3d(0, -100%, 0);

        &-active {
          transition: transform .5s ease .001s;

          transform: translate3d(0, -200%, 0);
        }
      }
    }
  }

  &.down {

    > .section {

      &.translateY-enter {
        transform: translate3d(0, -100%, 0);

        &-active {
          transition: transform .5s ease .001s;

          transform: none;
        }
      }

      &.translateY-exit {
        transform: translate3d(0, -100%, 0);

        &-active {
          transition: transform .5s ease .001s;

          transform: none;
        }
      }
    }
  }

  .section {

    > .align-container {
      @include container;

      max-width: 1380px;

      @include clearfix;

      position: relative;

      top: 50%;

      transform: translateY(-50%);

      @include breakpoint($mobile) {
        top: auto;

        transform: translateY(0);
      }

      @include breakpoint($tablet-laptop) {
        top: auto;

        transform: translateY(0);
      }
    }
  }
}

.scroll-container {
  @include container;

  overflow-x: hidden;

  @include breakpoint($mobile) {

    overflow: hidden;
  }

  @include breakpoint($tablet-laptop) {

    overflow: hidden;
  }

  .section {

    @include breakpoint($mobile-p) {

      padding: 6.4em 1.875em 0;
    }

    @include breakpoint($mobile-l) {

      padding: 6.4em 4.5em 0;
    }

    @include breakpoint($tablet) {

      padding: 6.8em 5.375em 0;
    }

    @include breakpoint($laptop) {
      overflow: hidden;

      padding: 6.4em 7.25em;
    }

    @include breakpoint($laptop-small) {

      padding: 6.8em 7.25em 0;
    }

    @include breakpoint($laptop-medium) {

      padding: 6.8em 13%;
    }

    > .align-container {

      @include clearfix;
    }
  }
}

// animation classes
.showing {
  animation: showing 3.5s ease forwards;
}


