/**
  Global styles
 */
html,
body {
  overflow-x: hidden;
  overflow-y: hidden;

  @include breakpoint($mobile) {

    overflow-y: auto;
  }

  @include breakpoint($tablet) {

    overflow-y: auto;
  }

  @include breakpoint($laptop-small) {

    overflow-y: auto;
  }
}

body {
  font: 16px $font-primary;
  color: $color-primary;

  &.loaded {

    #content-overlay {

      opacity: 1;
    }
  }

  &.ReactModal__Body--open {
    overflow: hidden;

    position: fixed;

    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    #content-overlay {

      pointer-events: none;
    }
  }

  h1, h2, h3, h4, h5, h6, p {

    margin: 0;
  }

  a {

    display: inline-block;
  }
}

html,
body,
#content-overlay,
#content,
.translate-container,
.section {

  height: 100%;
}

.translate-container {

  @include breakpoint($mobile-p) {

    padding: 0 1.875em;
  }

  @include breakpoint($mobile-l) {

    padding: 0 4.5em;
  }

  @include breakpoint($tablet) {

    padding: 0 5.375em;
  }

  @include breakpoint($laptop) {

    padding: 0 7.25em;
  }

  &.up {
    > .section {

      &.translateY-enter {
        @include transform(translate3d(0, 100%, 0));

        &-active {
          @include transition(transform .5s ease .001s);

          @include transform(translate3d(0, 0, 0));
        }
      }

      &.translateY-exit {
        @include transform(translate3d(0, -100%, 0));

        &-active {
          @include transition(transform .5s ease .001s);

          @include transform(translate3d(0, -200%, 0));
        }
      }
    }
  }

  &.down {
    > .section {
      &.translateY-enter {
        @include transform(translate3d(0, -100%, 0));

        &-active {
          @include transition(transform .5s ease .001s);

          @include transform(translate3d(0, 0, 0));
        }
      }

      &.translateY-exit {
        @include transform(translate3d(0, -100%, 0));
        &-active {
          @include transition(transform .5s ease .001s);

          @include transform(translate3d(0, 0, 0));
        }
      }
    }
  }

  .section {

    > .align-container {
      @include clearfix;

      position: relative;

      top: 50%;

      @include transform(translateY(-50%));

      @include breakpoint($mobile) {
        top: auto;

        @include transform(translateY(0));
      }

      @include breakpoint($tablet-laptop) {
        top: auto;

        @include transform(translateY(0));
      }
    }
  }
}

#content-overlay {
  opacity: 0;

  @include transition(opacity 1s ease 4s);
}