/**
  Global styles
 */

html,
body {
  overflow-x: hidden;
  overflow-y: hidden;

  @include breakpoint($mobile) {

    overflow-y: visible;
  }

  // Double vertical scroll bug fix
  @include breakpoint($tablet-laptop) {

    overflow-y: visible;
  }

  @include breakpoint($laptop-large) {

    overflow-x: visible;
  }
}

body {
  background-color: #1A1735;

  font: 16px $font-primary;
  color: $color-primary;

  #content-overlay {
    position: fixed;

    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    opacity: 0;

    @include transition(opacity 1s ease 4s);
  }

  &.loaded {

    #content-overlay {
      position: static;
      opacity: 1;
    }
  }

  h1, h2, h3, h4, h5, h6, p {

    margin: 0;
  }

  a {

    display: inline-block;
  }
}

html,
body,
#content-overlay,
#content,
.translate-container,
.section {

  height: 100%;
}

.translate-container {
  position: relative;

  @include breakpoint($laptop-large) {

    padding: 0 11em;
  }

  &:before,
  &:after {
    content: '';
    display: block;

    width: 198px;
    height: 100%;

    position: absolute;

    top: 0;

    pointer-events: none;
  }

  &:before {
    left: 0;

    background: linear-gradient(to right, rgba(0, 0, 0, .25) 0%, rgba(0, 0, 0, 0) 100%);
  }

  &:after {
    right: 0;

    background: linear-gradient(to left, rgba(0, 0, 0, .25) 0%, rgba(0, 0, 0, 0) 100%);
  }

  > .section {
    will-change: transform;

    @include backface-visibility(hidden);

    @include transform-style(preserve-3d);
  }

  &.up {

    > .section {

      &.translateY-enter {
        @include transform(translate3d(0, 100%, 0));

        &-active {
          @include transition(transform .5s ease .001s);

          @include transform(translate3d(0, 0, 0));
        }
      }

      &.translateY-exit {
        @include transform(translate3d(0, -100%, 0));

        &-active {
          @include transition(transform .5s ease .001s);

          @include transform(translate3d(0, -200%, 0));
        }
      }
    }
  }

  &.down {

    > .section {

      &.translateY-enter {
        @include transform(translate3d(0, -100%, 0));

        &-active {
          @include transition(transform .5s ease .001s);

          @include transform(translate3d(0, 0, 0));
        }
      }

      &.translateY-exit {
        @include transform(translate3d(0, -100%, 0));

        &-active {
          @include transition(transform .5s ease .001s);

          @include transform(translate3d(0, 0, 0));
        }
      }
    }
  }

  .section {

    > .align-container {
      @include container;

      max-width: 1380px;

      @include clearfix;

      position: relative;

      top: 50%;

      @include transform(translateY(-50%));

      @include breakpoint($mobile) {
        top: auto;

        @include transform(translateY(0));
      }

      @include breakpoint($tablet-laptop) {
        top: auto;

        @include transform(translateY(0));
      }
    }
  }
}

.scroll-container {
  @include container;

  overflow-x: hidden;

  .section {

    > .align-container {

      @include clearfix;
    }

    @include breakpoint($mobile-p) {

      padding: 6.4em 1.875em 0;
    }

    @include breakpoint($mobile-l) {

      padding: 6.4em 4.5em 0;
    }

    @include breakpoint($tablet) {

      padding: 6.8em 5.375em 0;
    }

    @include breakpoint($laptop) {

      padding: 6.4em 7.25em;
    }

    @include breakpoint($laptop-small) {

      padding: 6.8em 7.25em 0;
    }
  }
}
