/**
  Contact-info
 */
.contact-info {
  @include span(4 of 12 inside no-gutters);

  @include breakpoint($mobile-tablet) {

    @include span(12 of 12 inside no-gutters);
  }

  @include breakpoint($laptop-small) {

    @include span(12 of 12 inside no-gutters);
  }

  .align-container {

    @include breakpoint($mobile-l) {

      @include span(6 of 12 inside no-gutters);

      float: none;

      display: inline-block;
    }

    @include breakpoint($tablet) {
      @include span(6 of 12 inside no-gutters);

      float: right;

      margin-bottom: 5.5em;
    }

    @include breakpoint($tablet-l) {
      @include span(12 of 12 inside no-gutters);

      float: none;
    }

    @include breakpoint($laptop-small) {
      @include span(12 of 12 inside no-gutters);
      float: right;

      margin-bottom: 4.5em;
    }

    > .contact-info__link {

      @include breakpoint($tablet) {

        display: block;
      }

      @include breakpoint($tablet-p) {
        @include span(4.5 of 12 inside no-gutters);

        float: none;
      }

      @include breakpoint($tablet-l) {
        @include span(3 of 12 inside no-gutters);

        float: none;
      }

      @include breakpoint($laptop-small) {
        display: block;

        @include span(3 of 12 inside no-gutters);

        float: none;
      }
    }
  }

  .section__subtitle {

    @include breakpoint($mobile-p) {

      margin-top: 2em;
    }

    @include breakpoint($iphone4-l) {

      margin-top: 2em;
    }
  }

  &__link {
    white-space: nowrap;

    font-size: 1.2em;
    font-weight: $font-style-regular;
    color: $color-secondary;

    @include breakpoint($tablet-p) {

      font-size: 1.3327em;
    }

    @include breakpoint($tablet-l) {

      font-size: 1.266em;
    }

    @include breakpoint($laptop-small) {

      font-size: 1.266em;
    }

    &:not(:first-child) {

      margin-top: .15em;
    }
  }

  &__text {
    line-height: 26px;

    @include breakpoint($mobile-p) {

      margin-bottom: 2em;
    }

    &:first-child {

      @include breakpoint($mobile-l) {

        @include span(8 of 12 inside no-gutters);
      }
    }

    & + & {

      @include breakpoint($mobile-l) {

        @include span(4 of 12 inside no-gutters last);
      }

      @include breakpoint($iphone4-l) {
        float: none;

        width: auto;
      }
    }

    > span {
      display: block;

      &:first-child {

        @include breakpoint($mobile) {

          font-size: 1.2em;
        }
      }
    }

    > .text_regular {

      @include breakpoint($laptop) {

        white-space: nowrap;
      }
    }

    &_indented {
      margin: 4.7em 0 3.35em;

      @include breakpoint($mobile-p) {

        margin: 0 0 1.8em;
      }

      @include breakpoint($mobile-l) {

        margin: 0 0 2.8em;
      }

      @include breakpoint($tablet) {
        @include span(6 of 12 inside no-gutters);

        margin: 0 0 3.25em;
      }

      @include breakpoint($tablet-p) {
        float: right;

        font-size: 1.133em;
      }

      @include breakpoint($tablet-l) {

        @include span(6 of 12 inside no-gutters);

        float: none;
      }

      @include breakpoint($laptop-small) {
        @include span(6 of 12 inside no-gutters);

        float: none;

        margin: 0 0 3.25em;
      }

      @include breakpoint($laptop-medium) {

        margin: 6.3em 0 3.35em;
      }

      @include breakpoint($laptop-large) {

        margin: 3.4em 0 1.6em;
      }
    }

    &_increased {
      line-height: 47px;

      font-size: 2em;

      @include breakpoint($mobile) {

        line-height: 41px;
      }
    }
  }

  .separator {
    display: inline-block;

    color: #c3c3c3;
  }

  .btn {

    @include breakpoint($mobile) {

      font-size: 1.267em;
    }

    @include breakpoint($mobile-p) {
      @include span(8 of 12 inside no-gutters);

      float: none;

      margin-top: 3.75em;
    }

    @include breakpoint($iphone5-p) {

      font-size: 1.133em;
    }

    @include breakpoint($mobile-l) {

      display: none;
    }

    @include breakpoint($iphone4-l) {
      @include span(8 of 12 inside no-gutters);

      float: none;

      margin-top: 3.75em;
    }

    @include breakpoint($tablet) {
      @include span(6 of 12 inside no-gutters);

      width: auto;
    }

    @include breakpoint($tablet-p) {

      font-size: 1.3327em;
    }

    @include breakpoint($laptop-small) {
      @include span(6 of 12 inside no-gutters);

      width: auto;
    }

    & + .contact-info__text {

      @include breakpoint($tablet) {

        display: none;
      }

      @include breakpoint($laptop-small) {

        display: none;
      }
    }
  }

  .social-list {
    $item-width: 20px;

    width: 100%;

    position: static;

    margin: 3.5em 0 2.5em;

    text-align: left;

    @include breakpoint($mobile-p) {

      margin: 4.5em 0 2.5em;
    }

    &__item {
      width: $item-width;

      margin-bottom: 0;

      vertical-align: middle;

      @include breakpoint($mobile) {

        margin-right: calc(100% / 3 - 20px);
      }
    }
  }
}

.btn_transform {
  position: relative;

  text-align: center;

  font-size: initial !important;

  color: $color-secondary;

  overflow: hidden;

  height: 48px;

  will-change: width, height;

  cursor: pointer;

  @include breakpoint($mobile-l) {
    display: none;

    opacity: 0;

    visibility: hidden;
  }

  > .btn-corners {

    &:before,
    &:after {
      content: '';

      width: 10px;
      height: 10px;

      position: absolute;

      border-color: $color-secondary;
      border-style: solid;
    }

    &:before {

      left: 0;
    }

    &:after {

      right: 0;
    }

    &_top {

      &:before,
      &:after {

        top: 0;
      }

      &:before {

        border-width: 1px 0 0 1px;
      }

      &:after {

        border-width: 1px 1px 0 0;
      }
    }

    &_bottom {

      &:before,
      &:after {

        bottom: 0;
      }

      &:before {

        border-width: 0 0 1px 1px;
      }

      &:after {

        border-width: 0 1px 1px 0;
      }
    }
  }

  &.initial {
    @include span(8 of 12 inside no-gutters);

    float: none;

    transition: width .5s ease .5s, height .5s ease !important;
  }

  &.transformed {
    transition: width .5s ease, height .5s ease .5s !important;

    height: 530px;

    width: 100%;
  }

  > .inner-layout {
    position: absolute;

    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    height: 92%;
    width: 90%;

    margin: auto;

    opacity: 1;

    transition: opacity .5s ease;

    > .cooperate-text {
      font-size: 1.19em;

      line-height: 44px;
    }

    &.transform {
      &-enter {
        opacity: 0;

        transition: none;
      }

      &-exit {

        opacity: 0;
      }
    }
  }

  &:hover,
  &:active {
    box-shadow: none;

    > .btn-corners {
      &:before,
      &:after {
        width: 10px;

        height: 10px;
      }
    }
  }

  .form__group_inline + .form__group {
    margin: 1.875em 0 40px;
  }

  .btn {
    margin-top: 40px;
  }
}