/**
  Contact-info
 */
.contact-info {
  @include span(4 of 12 inside no-gutters);

  @include breakpoint($mobile-tablet) {

    @include span(12 of 12 inside no-gutters);
  }

  @include breakpoint($tablet) {

    margin-bottom: 3em;
  }

  @include breakpoint($laptop-small) {
    @include span(12 of 12 inside no-gutters);

    margin-bottom: 3em;
  }

  .align-container {

    @include breakpoint($mobile-l) {

      @include span(6 of 12 inside no-gutters);

      float: none;

      display: inline-block;
    }

    @include breakpoint($tablet) {

      margin-bottom: 3em;
    }

    @include breakpoint($laptop-small) {

      margin-bottom: 3em;
    }

    > .contact-info__link {

      @include breakpoint($tablet) {

        display: block;
      }

      @include breakpoint($tablet-p) {
        @include span(4.5 of 12 inside no-gutters);

        float: none;
      }

      @include breakpoint($tablet-l) {
        @include span(3 of 12 inside no-gutters);

        float: none;
      }

      @include breakpoint($laptop-small) {
        display: block;

        @include span(3 of 12 inside no-gutters);

        float: none;
      }
    }
  }

  .section-subtitle {

    @include breakpoint($mobile-p) {

      margin-top: 2em;
    }
  }

  &__link {
    margin-top: .2em;

    font-size: 1.2em;
    font-weight: $font-style-regular;
    color: $color-secondary;
  }

  &__text {
    line-height: 26px;

    @include breakpoint($mobile-l) {
      display: inline-block;

      vertical-align: top;
    }

    & + & {

      @include breakpoint($mobile-l) {

        @include span(4 of 12 inside no-gutters last);
      }
    }

    > span {
      display: block;

      &:first-child {

        @include breakpoint($mobile) {

          font-size: 1.2em;
        }
      }
    }

    &_indented {
      margin: 4.05em 0 4.4em;

      @include breakpoint($mobile-p) {

        margin: 0 0 1.8em;
      }

      @include breakpoint($mobile-l) {

        margin: 0 0 2.8em;
      }

      @include breakpoint($tablet) {

        margin: 0 0 2.8em;
      }

      @include breakpoint($laptop-small) {

        margin: 0 0 2.8em;
      }
    }

    &_increased {
      line-height: 40px;

      font-size: 2em;
    }
  }

  .btn {

    @include breakpoint($mobile) {

      font-size: 1.063em;
    }

    @include breakpoint($mobile-p) {
      @include span(8 of 12 inside no-gutters);

      float: none;

      margin-top: 3.75em;
    }

    @include breakpoint($mobile-l) {

      @include span(4 of 12 inside no-gutters last);
    }

    & + .contact-info__text {

      @include breakpoint($tablet) {

        @include span(6 of 12 inside no-gutters);

        float: right;
      }

      @include breakpoint($laptop-small) {

        @include span(6 of 12 inside no-gutters);

        float: right;
      }
    }
  }

  .social-list {
    $item-width: 20px;

    width: 100%;

    position: static;

    margin: 3.5em 0 2.5em;

    text-align: left;

    &__item {
      width: $item-width;

      margin-bottom: 0;

      vertical-align: middle;

      @include breakpoint($mobile) {

        margin-right: calc(100% / 3 - 20px);
      }
    }
  }
}