/**
* Forms styles
 */
.form {
  position: relative;

  margin-top: 3.375em;

  font-size: 1.067em;

  @include breakpoint($mobile) {

    margin-top: 0;
  }

  @include breakpoint($tablet) {

    margin-top: 0;
  }

  @include breakpoint($laptop-small) {

    margin-top: 0;
  }

  @include breakpoint($laptop-large) {

    margin-top: 2em;
  }

  &:before {
    content: '';
    display: block;

    width: 599px;
    height: 336px;

    position: absolute;

    top: -60px;
    left: -86px;

    @include transform(rotate(23deg));

    background: url('images/form-glow.png');

    opacity: .1;

    -webkit-filter: blur(50px);
    filter: blur(50px);

    @include breakpoint($mobile) {

      content: none;
    }

    @include breakpoint($tablet) {

      content: none;
    }

    @include breakpoint($laptop-small) {

      content: none;
    }
  }

  > .form-half {

    @include breakpoint($tablet-l) {
      width: 50%;

      display: inline-block;

      vertical-align: top;
    }

    @include breakpoint($laptop-small) {
      width: 50%;

      display: inline-block;

      vertical-align: top;
    }

    &_second {

      @include breakpoint($tablet-l) {

        padding-left: 3.5em;
      }

      @include breakpoint($laptop-small) {

        padding-left: 2.5em;
      }
    }
  }

  &__group {
    position: relative;

    &:hover,
    &.in-focus {

      > .form__control {
        opacity: 1;

        box-shadow: 0px 6px 6px -3px rgba(106, 215, 255, 0.18);
      }
    }

    &.spinner__group {
      margin-top: .65em;

      @include breakpoint($mobile) {
        max-width: 256px;

        margin-right: auto;
        margin-left: auto;
      }

      @include breakpoint($tablet-l) {

        margin-top: 2.85em;
      }
    }

    &.has-error {

      &:hover,
      &.in-focus {

        > .form__control {

          box-shadow: 0px 6px 6px -3px rgba(196, 58, 100, .3);
        }
      }

      > .form__control {
        border-bottom-color: #EB4B89;

        color: rgba(235, 75, 124, .5);

        &::-webkit-input-placeholder {

          color: rgba(235, 75, 124, .5);
        }

        &::-moz-placeholder {

          color: rgba(235, 75, 124, .5);
        }

        &:-moz-placeholder {

          color: rgba(235, 75, 124, .5);
        }

        &:-ms-input-placeholder {

          color: rgba(235, 75, 124, .5);
        }
      }
    }

    & + &_inline {
      margin: 1.875em 0 3.75em;

      @include breakpoint($tablet-l) {

        margin: 1.875em 0 3em;
      }

      @include breakpoint($laptop-large) {

        margin: 1.875em 0 2.25em;
      }
    }
  }

  &__group_inline {
    $group-inline-width: 460px;
    $group-inline-first-group-width: 194px;
    $group-inline-last-group-width: 230px;

    @include breakpoint($mobile-l) {

      @include clearfix;
    }

    > .form__group {
      width: (($group-inline-first-group-width / $group-inline-width) * 100%);

      display: inline-block;

      @include breakpoint($mobile-p) {

        width: 100%;
      }

      @include breakpoint($mobile-l) {

        float: left;
      }

      @include breakpoint($tablet) {

        width: 100%;
      }

      &:last-child {
        width: (($group-inline-last-group-width / $group-inline-width) * 100%);

        float: right;

        text-align: right;

        @include breakpoint($mobile-p) {
          width: 100%;

          float: none;

          margin-top: 1.875em;

          text-align: left;
        }

        @include breakpoint($tablet) {
          width: 100%;

          float: none;

          margin-top: 1.875em;

          text-align: left;
        }
      }
    }
  }

  &__control {
    width: 100%;

    padding: .5em 0;

    border-radius: 0;
    border: 1px solid transparent;
    border-bottom-color: $color-secondary;

    font-weight: $font-style-regular;
    color: $color-secondary;

    opacity: .6;

    @include transition(opacity .3s ease, box-shadow .3s ease);

    // Chrome input twitching bug fix
    @include backface-visibility(hidden);

    &::-webkit-input-placeholder {

      color: $color-secondary;
    }

    &::-moz-placeholder {

      color: $color-secondary;
    }

    &:-moz-placeholder {

      color: $color-secondary;
    }

    &:-ms-input-placeholder {

      color: $color-secondary;
    }
  }

  &__error-text {
    position: absolute;

    top: 44px;
    left: 0;

    font-size: .813em;
    font-weight: $font-style-regular;
    color: #EB4B7C;

    text-align: left;
  }

  .btn_primary {
    margin-top: 3.3em;

    @include breakpoint($tablet-l) {

      margin-top: 0;
    }

    @include breakpoint($laptop-large) {

      margin-top: 2.85em;
    }
  }

  p {
    line-height: 26px;

    font-size: .938em;

    &.text_medium {

      @include breakpoint($tablet-p) {

        font-size: 1.176em;
      }

      @include breakpoint($tablet-l) {
        margin-top: .35em;

        font-size: 1.059em;
      }
    }

    & + p {

      @include breakpoint($mobile) {
        margin-top: .75em;

        font-size: .82em;
      }

      @include breakpoint($tablet) {

        margin-top: .75em;
      }

      @include breakpoint($tablet-l) {

        font-size: .882em;
      }
    }
  }
}

// Extinction effect
[placeholder]::-webkit-input-placeholder {

  @include transition(all .25s ease);
}

[placeholder]::-moz-placeholder {

  @include transition(all .25s ease);
}

[placeholder]:-moz-placeholder {

  @include transition(all .25s ease);
}

[placeholder]:-ms-input-placeholder {

  @include transition(all .25s ease);
}

[placeholder]:focus::-webkit-input-placeholder {
  @include transform(translateX(10px));

  opacity: 0;
}

[placeholder]:focus::-moz-placeholder {
  @include transform(translateX(10px));

  opacity: 0;
}

[placeholder]:focus:-moz-placeholder {
  @include transform(translateX(10px));

  opacity: 0;
}

[placeholder]:focus:-ms-input-placeholder {
  @include transform(translateX(10px));

  opacity: 0;
}


.request-sent {
  // Temp
  display: none;

  line-height: 1.733em;

  > span {
    display: block;

    @include breakpoint($tablet) {

      display: inline;
    }

    @include breakpoint($laptop-small) {

      display: inline;
    }

    &:first-child,
    &:last-child {

      @include breakpoint($tablet) {

        display: block;
      }

      @include breakpoint($laptop-small) {

        display: block;
      }
    }


    &:first-child {

      @include breakpoint($mobile-p) {

        margin: 2.222em 0 1.222em;
      }

      @include breakpoint($mobile-l) {

        margin: 1em 0;
      }

      @include breakpoint($tablet) {

        margin-bottom: 1.5em;
      }

      @include breakpoint($laptop-small) {

        margin-bottom: 1.5em;
      }
    }

    &:last-child {
      margin-top: 2.25em;

      @include breakpoint($mobile-p) {
        width: 200px;

        position: absolute;

        right: 0;
        bottom: 30px;
        left: 0;

        margin: auto;
      }

      @include breakpoint($mobile-l) {

        display: none;
      }

      @include breakpoint($tablet) {

        margin-top: 1.75em;
      }

      @include breakpoint($laptop-small) {

        margin-top: 1.75em;
      }
    }
  }

  .section__text_increased {
    font-size: 1.2em;
    font-weight: $font-style-medium;
  }

  .section__text_indented {

    @include breakpoint($mobile-p) {

      margin-top: 1.222em;
    }

    @include breakpoint($mobile-l) {

      margin-top: 1em;
    }
  }
}
