/**
  Forms styles
 */
.form {
  margin: 3.5em 0;

  font-size: 1.067em;

  &__group {

    & + &_inline {

      margin-top: 1.65em;
    }
  }

  &__group_inline {

    > .form__group {
      width: 50%;

      display: inline-block;

      &:first-child {

        padding-right: 1.125em;
      }

      &:last-child {

        padding-left: 1.125em;
      }
    }
  }

  &__control {
    width: 100%;

    padding: .5em 0;

    border: 0;

    font-weight: $font-style-regular;
    color: #95989A;

    opacity: .9;

    @include transition(opacity .4s ease);

    &:focus {

      & + .form__control_underline {

        &:after {

          width: 100%;
        }
      }
    }

    &_underline {
      height: 1px;

      display: block;

      position: relative;

      background-color: #b5b5b5;

      &:after {
        content: '';

        width: 0;
        height: 1px;

        position: absolute;

        top: 0;
        left: 0;

        background-color: #808080;

        @include transition(width .4s ease);
      }
    }
  }
}