/**
  Modal styles
 */
.modal-overlay {
  position: fixed;

  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  background-color: #fff;

  outline: 0;

  z-index: (map-get($zindex, modal) - 1);

  touch-action: none;

  @include breakpoint($tablet) {

    background-color: transparent;
  }

  @include breakpoint($laptop-small) {

    background-color: transparent;
  }
}

.modal {
  overflow-y: scroll;

  position: absolute;

  background-color: #fff;

  outline: 0;

  z-index: map-get($zindex, modal);

  @include breakpoint($mobile) {
    width: 100%;
    height: 100%;

    touch-action: auto;
  }

  @include breakpoint($tablet) {
    top: 0;
    right: 86px;
    bottom: 0;
    left: 86px;

    margin: auto;

    max-height: 784px;

    box-shadow: 0 6px 27px 0 rgba(0, 0, 0, .21);

    touch-action: none;
  }

  @include breakpoint($tablet-l) {

    max-height: 528px;
  }

  @include breakpoint($laptop-small) {
    top: 0;
    right: 86px;
    bottom: 0;
    left: 86px;

    margin: auto;

    max-height: 784px;

    box-shadow: 0 6px 27px 0 rgba(0, 0, 0, .21);
  }

  &__header {
    padding: 30px 30px 0;

    font-size: 0;

    @include breakpoint($mobile) {

      padding: 40px 30px 0;
    }

    > .logo {

      @include breakpoint($tablet) {

        display: none;
      }

      @include breakpoint($laptop-small) {

        display: none;
      }
    }

    > .btn_close {
      float: right;

      margin-top: 2px;
    }
  }

  &__body {

    @include breakpoint($mobile) {

      text-align: center;
    }

    @include breakpoint($mobile-p) {

      padding: 0 10% 3.5em;
    }

    @include breakpoint($mobile-l) {

      padding: 0 12.5% 3.5em;
    }

    @include breakpoint($tablet) {

      padding: 0 4.5em 4.25em;
    }

    @include breakpoint($laptop-small) {

      padding: 0 4.5em 4.25em;
    }
  }

  &__title {
    margin: 30px 0 42px;

    text-align: center;

    font-size: 29px;
    font-weight: $font-style-light;

    @include breakpoint($iphone5) {

      font-size: 26px;
    }

    @include breakpoint($tablet) {

      font-size: 47px;
    }

    @include breakpoint($tablet-l) {

      margin: 20px 0 42px;
    }

    @include breakpoint($laptop-small) {
      margin: 20px 0 42px;

      font-size: 47px;
    }
  }
}
