/**
* Modal styles
 */
.header,
.section__title,
.section__half,
.prj-chronology,
.slider {

  transition: opacity 1s ease-out;
}

.ReactModal__Body--open {

  .header,
  .sidebar {

    @include breakpoint($mobile) {

      opacity: 0;
    }

    @include breakpoint($tablet) {

      opacity: .3;
    }

    @include breakpoint($laptop-small) {

      opacity: .3;
    }
  }

  .section__title,
  .section__half,
  .prj-chronology
  .slider {

    opacity: 0;
  }
}

.modal-overlay {
  position: fixed;

  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  outline: 0;

  z-index: (map-get($zindex, modal) - 1);

  opacity: 0;

  transition: opacity 1s ease;

  @include breakpoint($tablet) {

    background-color: transparent;
  }

  @include breakpoint($laptop-small) {

    background-color: transparent;
  }

  &.modal-opened {

    opacity: 1;
  }

  &.modal-close {

    opacity: 0;
  }
}

.modal {
  max-width: 852px;
  max-height: 784px;

  position: absolute;

  outline: 0;

  z-index: map-get($zindex, modal);

  background: linear-gradient(33deg, rgba(51, 14, 31, .5) 0%, rgba(3, 28, 60, .5) 100%);
  box-shadow: 0 0 42px 0 rgba(49, 130, 173, .6);

  @include breakpoint($mobile) {
    width: 100%;
    height: 100%;

    overflow-y: scroll;
  }

  @include breakpoint($tablet) {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    margin: auto;
  }

  @include breakpoint($tablet-p) {

    max-width: 596px;
  }

  @include breakpoint($tablet-l) {

    max-height: 528px;
  }

  @include breakpoint($laptop-small) {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    margin: auto;

    max-height: 528px;
  }

  &__header {
    padding: 30px 30px 0;

    font-size: 0;

    > .logo {

      @include breakpoint($mobile) {

        display: none;
      }

      @include breakpoint($tablet) {

        display: none;
      }

      @include breakpoint($laptop-small) {

        display: none;
      }
    }

    > .btn_close {
      float: right;

      margin-top: 2px;
    }
  }

  &__body {

    @include breakpoint($mobile) {

      text-align: center;
    }

    @include breakpoint($mobile-p) {

      padding: 0 10% 3.5em;
    }

    @include breakpoint($mobile-l) {

      padding: 0 12.5% 3.5em;
    }

    @include breakpoint($tablet) {

      padding: 0 4.5em 4.25em;
    }

    @include breakpoint($laptop-small) {

      padding: 0 4.5em 4.25em;
    }
  }

  &__title {
    margin: 30px 0 42px;

    text-align: center;

    font-size: 29px;
    font-weight: $font-style-light;

    @include breakpoint($iphone5) {

      font-size: 26px;
    }

    @include breakpoint($tablet) {

      font-size: 47px;
    }

    @include breakpoint($tablet-l) {

      margin: 20px 0 42px;
    }

    @include breakpoint($laptop-small) {
      margin: 20px 0 42px;

      font-size: 47px;
    }
  }
}
