// Here will be imports only

body {
  background-color: aliceblue;
  padding: 0;
  margin: 0;
}

#pre-loader {
  position: absolute;
  font-size: 4em;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: aquamarine;
}

#pre-loader .logo {
  margin: calc(50vh - 0.5em) auto;
  text-align: center;
  width: 100%;
  color: darkslategrey;
}

#pre-loader.loaded {
  opacity: 0;
  transition: 0.5s;
  z-index: -1;
}