/**
  Sidebar styles
 */
.sidebar {
  width: 98px;

  position: fixed;

  top: 0;
  right: 0;
  bottom: 0;

  text-align: center;

  z-index: map-get($zindex, aside);

  @include breakpoint($mobile) {

    display: none;
  }

  @include breakpoint($tablet) {

    width: 92px;
  }
}